<?php $attributes = $this->getAttributes(); ?>
<?php if (!empty($attributes)): ?>
<div class="col2-set order-info-box" style="position: relative;">
    <div class="box" id="amorderattr-block">
        <div class="box-title">
            <h2><?php echo $this->__('Additional Information'); ?></h2>
        </div>
        <div class="box-content">
            <fieldset id="order_attributes">
                
                <table cellspacing="0" style="width: 100%;">
                    <tbody>
                        <?php foreach ($attributes as $label => $value):
                        
                                if($label != 'Headquarter / Branch')// D 07_01_14
                                {
                        ?>
                        <tr>
                            <td style="width: 25%;">
                                <?php echo $label; ?>:
                            </td>
                            <td>
                                <?php
                                        // D 07_01_14
                                        if($value == 'Branch no')
                                        echo nl2br(htmlentities(preg_replace('/\$/','\\\$', $attributes['Headquarter / Branch']), ENT_COMPAT, "UTF-8"));
                                        else
                                        echo nl2br(htmlentities(preg_replace('/\$/','\\\$', $value), ENT_COMPAT, "UTF-8"));
                                        // D 07_01_14
                                
                                
                                ?>
                            </td>
                        </tr>
                        <tr><td height="6" colspan="2"></td></tr>
                        <?php
                        
                                }
                                
                        endforeach; ?>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<?php endif; ?>