<?php
    ob_start();
    include_once 'app/Mage.php';
    Mage::app();
    //error_reporting(0);
    require_once 'lib/Zend/Loader.php';
    Zend_Loader::loadClass('Zend_Gdata');
    Zend_Loader::loadClass('Zend_Gdata_AuthSub');
    Zend_Loader::loadClass('Zend_Gdata_ClientLogin');
    Zend_Loader::loadClass('Zend_Gdata_Spreadsheets');

    function getClientLoginHttpClient($user, $pass)
    {
      $service = Zend_Gdata_Spreadsheets::AUTH_SERVICE_NAME;
      $client = Zend_Gdata_ClientLogin::getHttpClient($user, $pass, $service);
      return $client; 
    }
    
    $client = getClientLoginHttpClient('cdiscount.test70@gmail.com', 'option123');
    $spreadsheetService = new Zend_Gdata_Spreadsheets($client);

    // Get your spreadsheets feed
	
    $feed = $spreadsheetService->getSpreadsheetFeed();
	
    //echo "Title :".$feed->title; 
    //echo "Total :".$feed->totalResults; 

    foreach($feed->entries as $entry)
    {

      $title = $entry->title->text;
	
      if($title == "Order_Status")
      {
	$id = $entry->id;
      }

    }

    // Get spreadsheet key
	
    $spreadsheetsKey = basename($id);   
    //echo 'Spreadsheet key is: ' . $spreadsheetsKey .'</br>';

    $query = new Zend_Gdata_Spreadsheets_DocumentQuery();	
    $query->setSpreadsheetKey($spreadsheetsKey);	
    $feed = $spreadsheetService->getWorksheetFeed($query);
    
    foreach($feed->entries as $entry)
    { 
	//echo 'Your "'. $entry->title->text .'" worksheet ID is: '; 
	$worksheetId = basename($entry->id);  
	//echo $worksheetId.'</br>';
    }
    
    
    
    
    // Get cell feed
	     
     $query = new Zend_Gdata_Spreadsheets_CellQuery();	
     $query->setSpreadsheetKey($spreadsheetsKey);	
     $query->setWorksheetId($worksheetId);	
     $cellFeed = $spreadsheetService->getCellFeed($query);

     
     // List Of All Cell
	     
	     
     foreach($cellFeed as $cellEntry)
     {	
       $row = $cellEntry->cell->getRow();
       $col = $cellEntry->cell->getColumn();
       $val = $cellEntry->cell->getText();
     
       //echo "$row, $col = $val</br>";
       //echo "$val</br>";
       $getAllOrderVal[]=$val;
     }
?>
<?php  $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title title-buttons lessmargin">
    <?php /* ?>
    <h1><?php echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel()) ?></h1>
    <?php */ ?>
    
    <h1>
    <?php
    $ordRealId=$_order->getRealOrderId();
    
    if(in_array($ordRealId,$getAllOrderVal))
    {
    //Show specific Row
    $orderNo=$_order->getRealOrderId();
    $query = new Zend_Gdata_Spreadsheets_ListQuery();
    $query->setSpreadsheetKey($spreadsheetsKey);
    $query->setWorksheetId($worksheetId);
    $query->setSpreadsheetQuery('orderno = '.$orderNo);
    $listFeed = $spreadsheetService->getListFeed($query);
    
    //echo "<pre>";
    //print_r($listFeed);
    //echo "</pre>";
    
    $ct=0;
    foreach ($listFeed as $listEntry)
    {
    $rowData = $listEntry->getCustom();
    foreach($rowData as $customEntry)
    {
    $ct++;
    if($ct==2)
    {
        //echo $customEntry->getText();
        //echo '</br>';
        echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $customEntry->getText());
    } 
    }
    }
    }else{
        echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel());
    }
    ?>
    </h1>
    
    
    <?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
    <?php endif; ?>
</div>

<?php echo $this->getStatusHistoryRssUrl($_order) ?>
<dl class="order-info">
    <dt><?php echo $this->__('About This Order:') ?></dt>
    <dd><ul id="order-info-tabs"><li class="current floatnone">Order Information</li></ul>     
    </dd>
</dl>
<p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
<?php if (!$_order->getIsVirtual()): ?>
<div class="col2-set order-info-box">
    <div class="col-1">
        <div class="box">
            <div class="box-title">
                <h2><?php echo $this->__('Shipping Address') ?></h2>
            </div>
            <div class="box-content">
                <address><?php echo $_order->getShippingAddress()->format('html') ?></address>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="box">
            <div class="box-title">
                <h2><?php echo $this->__('Shipping Method') ?></h2>
            </div>
            <div class="box-content">
                <?php if ($_order->getShippingDescription()): ?>
                    <?php echo $_order->getShippingDescription() ?>
                <?php else: ?>
                    <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>