<?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
<div class="account-login">
    <div class="page-title">
        <h1><?php echo $this->__('Order Tracking') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
      <form action="<?php echo $this->getUrl('ordertracking/index/view') ?>" method="post" id="form-validate">
        <div class="col2-set" style="width:96%;padding-left:22px;">
            
            <div class="col-1 registered-users" style="width:96%; ">
                <div class="content">
                    <h2><?php echo $this->__('Order Tracking') ?></h2>
                    
                    <p><?php echo $this->__('Please enter your Email address and order id .') ?></p>
                    
                    <p><?php echo $this->__('Please enter your order id .') ?></p>
                    <ul class="form-list">
                        
                        <li>
                            <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input name="visitoremail" alt="visitoremail" type="text" id="email" class="validate-email  input-text" value=""  />
                            </div>
                        </li>
                        
                        <li>
                            <label for="pass" class="required"><em>*</em><?php echo $this->__('Order Id') ?></label>
                            <div class="input-box">
                                <input name="order_id" alt="order_id" type="text" id="order_id" class="input-text" value="" />
                            </div>
                        </li>
                    </ul>
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                </div>
            </div>
        </div>
        <div class="col2-set" style="width:96%; padding-left:22px;">
          
            <div class="col-1 registered-users" style="width:96%;">
                <div class="buttons-set">
                    
                    <button type="submit" class="button" title="<?php echo $this->__('Track') ?>" name="send" id="send2"><span><span><?php echo $this->__('Track') ?></span></span></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    	function formsub(){	
		 if(dataForm.validator && dataForm.validator.validate()){		 	
			dataForm.submit();
		 }
	}
    </script>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
    //]]>
    </script>
</div>