<?php /* @var $this MarginFrame_PdfCustomiser_Block_Pdf_Items*/?>
<?php $columnHeadings = $this->getColumnHeaders() ?>
<?php $pdfItems = $this->getItems() ?>
<?php $pdfBundleItems = $this->getBundleItems() ?>
<?php $maxColumns = sizeof($columnHeadings) ?>
<?php $position = 1 ?>
<?php $havesubtotal2 = false ?>
<?php $vertSpacing =
    '<tcpdf method="addHTMLVertSpace" params="'.$this->getPdf()->serializeTCPDFtagParameters(array(0, 1)).'"/>'
?>

<?php $lineStyleOverride = array(
    'style_first'=> 'border-right: 1px solid #000;',
    /*'style_last'=> 'border-bottom:1px solid red;',*/
    'horiz_whitespace'=>5
) ?>
<?php //$lineStyleOverride = false ?>
<?php $numColumns = count($columnHeadings) ?>
<?php if($columnHeadings): ?>
    <table width="100%" border="1" cellpadding="2" cellspacing="0" style="font-size:13pt !important">
        <thead>
            <tr nobr="true">
                <?php foreach ($columnHeadings as $columnHeading) :?>
                    <?php if($columnHeading['key'] == 'subtotal2'): ?>
                    	<?php $havesubtotal2 = true ?>
                        <th colspan="2" style="border: 1px solid #000; font-weight:bold;"
                        align="<?php echo $columnHeading['align'] ?>"
                        width="<?php echo $columnHeading['width'] ?>%"><p style="line-height:4px"><strong><?php echo $columnHeading['title'] ?></strong></p></th>
                    <?php else: ?>
                    	<th rowspan="2" style="border: 1px solid #000; font-weight:bold;"
                        align="<?php echo $columnHeading['align'] ?>"
                        width="<?php echo $columnHeading['width'] ?>%"><p style="line-height:4px"><strong><?php echo $columnHeading['title'] ?></strong></p></th>
                    <?php endif; ?>
                    <?php $numColumns--?>
                <?php endforeach;?>
            </tr>
            <?php if($havesubtotal2) : ?>
            <tr>
            	<th align="center" style="border: 1px solid #000; font-weight:bold;"><p style="line-height:4px" width="50%"><strong>Non Vat</strong></p></th>
			    <th align="center" style="border: 1px solid #000; font-weight:bold;"><p style="line-height:4px" width="50%"><strong>Included Vat</strong></p></th>
			</tr>
            <?php endif; ?>
        </thead>
        <?php foreach ($pdfItems as $pdfItem) :?>
            <!-- we generally do not want to display subitems of configurable products etc -->
            <?php if($pdfItem['parentItemId']) continue; ?>
            <!-- Output line items -->
            <?php if (($pdfItem['parentType'] != 'bundle' && $pdfItem['type'] != 'bundle')
                || ($pdfItem['type'] == 'bundle' && !isset($pdfBundleItems[$pdfItem['itemId']]))) :
            ?>
                <tr nobr="true">
                    <?php echo $this->getItemRow($pdfItem, $vertSpacing, $lineStyleOverride, $position++) ?>
                </tr>
            <!-- Deal with bundles -->
            <?php else: ?>
                <?php $currentParentId = $pdfItem['itemId'] ?>
                <tr nobr="true">
                    <?php echo $this->getBundleItemRow($pdfItem, $pdfBundleItems[$currentParentId], $vertSpacing, $lineStyleOverride, $position++) ?>
                </tr>
            <?php endif; ?>
        <?php endforeach;?>
    </table>
<?php endif; ?>