<?php
$pdfItem = $this->getPdfItem();
$columns = $this->getPdfHelper()->getPdfColumnHeaders();
$vertSpacing = $this->getVertSpacing();
$styleOverride = $this->getStyleOverride();
$position = $this->getPosition();
$maxColumns = sizeof($columns);
?>
<?php if ($columns) : ?>
    <?php foreach ($columns as $column) : ?>
        <?php
        $isNotLast = (
            $pdfItem['productDetails']['Options']
                || $pdfItem['giftMessage']['message']
                || $pdfItem['productDetails']['Subitems']
        );
        
        //ipune pdf
        $style = $isNotLast
            ? $column['style_first']
            : $column['style_first'] . $column['style_last'];       
        $horizSpace = 0;
        if ($styleOverride) {
            $style = $isNotLast
                ? $styleOverride['style_first']
                : $styleOverride['style_first'] . (empty($styleOverride['style_last']) ? '' : $styleOverride['style_last']);
            if (isset($styleOverride['horiz_whitespace'])) {
                $horizSpace = $styleOverride['horiz_whitespace'];
            }
        }
        
        ?>
        <?php switch ($column['key']) {
        case 'position':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $position . '.' . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php
            break;
        case 'name':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['productDetails']['Name']
                    . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'name-space':
            $cellContent = $this->serializeParams(
                array(
                    0, 0,
                    $pdfItem['productDetails']['Name'],
                    array(
                        'mode' => 'int',
                        'L'    => array('width' => $horizSpace, 'color' => array(255, 255, 255)),
                        'R'    => array('width' => $horizSpace, 'color' => array(255, 255, 255))
                    ),
                    null, null, null, null, null, null, null, true
                )
            );?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing ?>
                <tcpdf method="MultiCell" params="<?php echo $cellContent ?>"/>
                <?php echo  ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'name-sku':
            ?>
            <td style="<?php echo $style ?>" width="<?php echo $column['width'] ?>%" align="<?php echo $column['alignitem'] ?>">
	            <table cellpadding="0" cellspacing="0">
		            <tr>
			            <td>
			            <?php echo $vertSpacing
			            		. $pdfItem['productDetails']['Sku'] 
			                    . ' '
			                    . $pdfItem['productDetails']['Name'] ?>
			            </td>
		            </tr>
	            </table>
            </td>
            <?php break;
        case 'sku':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing
                    . $pdfItem['productDetails']['Sku'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'custom':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing
                    . $pdfItem['productDetails']['custom'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'custom2':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing
                    . $pdfItem['productDetails']['custom2'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'custom3':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing .
                    $pdfItem['productDetails']['custom3'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'custom4':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing
                    . $pdfItem['productDetails']['custom4'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'custom5':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing
                    . $pdfItem['productDetails']['custom5'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'image':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo  $vertSpacing
                    . ($pdfItem['image'] ? '<img src="' . $pdfItem['image'] . '" height="180"/>' : '')
                    . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'barcode':
            $barcodeParams = $this->serializeParams(
                array(
                    $pdfItem['productDetails']['Sku'],
                    $this->getPdfHelper()->getBarcodeType(),
                    '', '', '35', '13'
                )
            );?>
            <td valign="top" style="<?php echo $style ?>" width="<?php echo $column['width'] ?> '%">
                <tcpdf method="write1DBarcode" params="<?php echo  $barcodeParams ?>"/>
                <?php echo ($isNotLast ? '' : $vertSpacing)?></td>
            <?php break;
        case 'qty_ordered':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['qty_ordered'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'qty_backordered':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['qty_backordered'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'qty_detailed':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing?>
            <?php foreach ($pdfItem['qty_detailed'] as $qtyRow) :?>
                    <?php echo $qtyRow?><br/>
            <?php endforeach;?>
            <?php echo ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'qty':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['qty'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'price':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing ?>
                <?php if($pdfItem['weee']):?>
                    <span><?php foreach($pdfItem['weee'] as $tax):?>
                        <?php echo $tax['title']. ' '. $this->getPdfHelper()->OutputPrice(
                            $tax['amount'],
                            $tax['baseAmount'],
                            $this->getPdfHelper()->getDisplayBoth(),
                            $this->getPdfHelper()->getSalesObject()
                        ) ?><br/>
                    <?php endforeach;?></span>
                <?php endif;?><?php echo
                    $this->getPdfHelper()->OutputPrice(
                        $pdfItem['price'],
                        $pdfItem['basePrice'],
                        $this->getPdfHelper()->getDisplayBoth(),
                        $this->getPdfHelper()->getSalesObject()
                    ) . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'item_status':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['item_status'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'discount':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%">
                	<?php if($pdfItem['discountAmount'] > 0):?>
	                	<?php echo $vertSpacing
	                    . "("
	                    . $this->getPdfHelper()->OutputPrice(
	                        $pdfItem['discountAmount'],
	                        $pdfItem['baseDiscountAmount'],
	                        $this->getPdfHelper()->getDisplayBoth(),
	                        $this->getPdfHelper()->getSalesObject()
	                    )
						. ")"
						. ($isNotLast ? '' : $vertSpacing) ?>
	                <?php endif; ?>
                    </td>
            <?php break;
        case 'tax':
            ?>
	        <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['taxAmount'] . ($isNotLast ? '' : $vertSpacing) ?></td>   
            <?php break;
        case 'taxrate':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing
                    . $pdfItem['taxPercent'] . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'subtotal':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing .
                    $this->getPdfHelper()->OutputPrice(
                        $pdfItem['subtotal'],
                        $pdfItem['baseSubtotal'],
                        $this->getPdfHelper()->getDisplayBoth(),
                        $this->getPdfHelper()->getSalesObject()
                    ) . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        case 'subtotal2':
            ?>
            <?php if($pdfItem['taxAmount'] > 0):?>
	            	<td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>" width="<?php echo $column['width']/2 ?>%"></td>
	            	<td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>" width="<?php echo $column['width']/2 ?>%">
	                	<?php echo $vertSpacing ?>               	
	                	<?php echo $this->getPdfHelper()->OutputPrice(
	                        $pdfItem['subtotal'],
	                        $pdfItem['baseSubtotal'],
	                        $this->getPdfHelper()->getDisplayBoth(),
	                        $this->getPdfHelper()->getSalesObject()
	                    	) . ($isNotLast ? '' : $vertSpacing) 
	                	?></td>                
	            <?php else:?>	            	
	            	<td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>" width="<?php echo $column['width']/2 ?>%">	                
		                <?php echo $vertSpacing ?>
	               			<?php echo $this->getPdfHelper()->OutputPrice(
	                        $pdfItem['subtotal'],
	                        $pdfItem['baseSubtotal'],
	                        $this->getPdfHelper()->getDisplayBoth(),
	                        $this->getPdfHelper()->getSalesObject()
	                    ) . ($isNotLast ? '' : $vertSpacing) 
	               		?></td>
	                <td style="<?php echo $style ?>" width="<?php echo $column['width']/2 ?>%"></td>
	            <?php endif;?>
            <?php break;
        case 'rowtotal2':
            ?>
            <td style="<?php echo $style ?>" align="<?php echo $column['alignitem'] ?>"
                width="<?php echo $column['width'] ?>%"><?php echo $vertSpacing .
                    $this->getPdfHelper()->OutputPrice(
                        $pdfItem['rowTotal2'],
                        $pdfItem['baseRowTotal2'],
                        $this->getPdfHelper()->getDisplayBoth(),
                        $this->getPdfHelper()->getSalesObject()
                    ) . ($isNotLast ? '' : $vertSpacing) ?></td>
            <?php break;
        }?>
    <?php endforeach; ?>
    <?php if (
        $pdfItem['productDetails']['Options']
        || $pdfItem['giftMessage']['message']
        || $pdfItem['productDetails']['Subitems']
    ) : ?>
        </tr>
        <tr nobr="true">
        <td style="<?php echo ($styleOverride ? $styleOverride['style_last'] : $column['style_last']) ?>
            " colspan="<?php echo  $maxColumns ?>" width="100%">
            <?php echo $pdfItem['productDetails']['Options']?>
            <?php if(!empty($pdfItem['productDetails']['Subitems'])):?>
                <?php foreach ($pdfItem['productDetails']['Subitems'] as $subitem) :?>
                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $subitem['qty']?> x <?php echo $subitem['Name']?>
                <?php endforeach;?>
            <?php endif;?>
            <?php echo $this->getPdfHelper()->OutputGiftMessageItem($pdfItem['giftMessage']) . $vertSpacing ?>
        </td>
    <?php endif; ?>
<?php endif; ?>