<?php
    $curUrl = basename($this->helper('core/url')->getCurrentUrl());
    
    
    $SeeVideoUrl = basename($this->getUrl("how-to-make-order"));
    $shippingpolicy = basename($this->getUrl("shipping-policy"));
    $paymentmethod = basename($this->getUrl("payment-methods"));
    $useavoucher = basename($this->getUrl("use-a-voucher"));
    $consumerpolicy = basename($this->getUrl("consumer-policy"));
    $returnrefund = basename($this->getUrl("return-refund"));
    $warrentyproduct = basename($this->getUrl("warranty-product"));
    $companyorganizationchart = basename($this->getUrl("company-organization-chart"));
    $history = basename($this->getUrl("history"));
    $PrivacyUrl = basename($this->getUrl("privacy-policy"));
    $termsconditions = basename($this->getUrl("term-and-conditions"));
    $workwithus = basename($this->getUrl("work-with-us"));
    $faq = basename($this->getUrl("faq"));
    
?>

    
<div class="cms-left">
<div class="cms-blog">
<div class="cms-blog-title first">
<h1>วิธีการสั่งซื้อ</h1>
</div>
<ul>
<?php if($curUrl == $SeeVideoUrl){?>
<li class="active"><a href="<?php echo $this->getUrl()?>how-to-make-order">วิธีการสั่งซื้อ</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>how-to-make-order">วิธีการสั่งซื้อ</a></li>
<?php }?>

<?php if($curUrl == $shippingpolicy){?>
<li class="active"><a href="<?php echo $this->getUrl()?>shipping-policy">วิธีการจัดส่งสินค้า</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>shipping-policy">วิธีการจัดส่งสินค้า</a></li>
<?php }?>

<?php if($curUrl == $paymentmethod){?>
<li class="active"><a href="<?php echo $this->getUrl()?>payment-methods">วิธีการชำระเงิน</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>payment-methods">วิธีการชำระเงิน</a></li>
<?php }?>

<?php if($curUrl == $useavoucher){?>
<li class="active"><a href="<?php echo $this->getUrl()?>use-a-voucher">การใช้ส่วนลดต่างๆ</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>use-a-voucher">การใช้ส่วนลดต่างๆ</a></li>
<?php }?>

</ul>
</div>
<div class="cms-blog">
<div class="cms-blog-title">
<h1>บริการลูกค้า</h1>
</div>
<ul>
<?php if($curUrl == $returnrefund){?>
<li class="active"><a href="<?php echo $this->getUrl()?>return-refund">การส่งคืนสินค้า</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>return-refund">การส่งคืนสินค้า</a></li>
<?php }?>

<?php if($curUrl == $warrentyproduct){?>
<li class="active"><a href="<?php echo $this->getUrl()?>warranty-product">นโยบายการรับประกันสินค้า</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>warranty-product">นโยบายการรับประกันสินค้า</a></li>
<?php }?>

<?php if($curUrl == $faq){?>
<li class="active"><a href="<?php echo $this->getUrl()?>faq">คำถามที่พบบ่อย</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>faq">คำถามที่พบบ่อย</a></li>
<?php }?>

</ul>
</div>
<div class="cms-blog">
<div class="cms-blog-title">
<h1>เกี่ยวกับ <span>Cdiscount</span></h1>
</div>
<ul>
    
<?php if($curUrl == $history){?>
<li class="active"><a href="<?php echo $this->getUrl()?>history">ประวัติ</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>history">ประวัติ</a></li>
<?php }?>

<?php if($curUrl == $companyorganizationchart){?>
<li class="active"><a href="<?php echo $this->getUrl()?>company-organization-chart">แผนภูมิองค์กรบริษัท</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>company-organization-chart">แผนภูมิองค์กรบริษัท</a></li>
<?php }?>

<?php if($curUrl == $consumerpolicy){?>
<li class="active"><a href="<?php echo $this->getUrl()?>consumer-policy">การคุ้มครองผู้บริโภค</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>consumer-policy">การคุ้มครองผู้บริโภค</a></li>
<?php }?>

<?php if($curUrl == $PrivacyUrl){?>
<li class="active"><a href="<?php echo $this->getUrl()?>privacy-policy">นโยบายความเป็นส่วนตัว</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>privacy-policy">นโยบายความเป็นส่วนตัว</a></li>
<?php }?>

<?php if($curUrl == $termsconditions){?>
<li class="active"><a href="<?php echo $this->getUrl()?>term-and-conditions">ข้อตกลงและเงื่อนไข</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>term-and-conditions">ข้อตกลงและเงื่อนไข</a></li>
<?php }?>

<?php if($curUrl == $workwithus){?>
<li class="active"><a href="<?php echo $this->getUrl()?>work-with-us">ร่วมงานกับเรา</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>work-with-us">ร่วมงานกับเรา</a></li>
<?php }?>

</ul>
</div>
</div>
