<?php
/*
ob_start();
include_once 'app/Mage.php';
Mage::app();
//error_reporting(0);
require_once 'lib/Zend/Loader.php';
Zend_Loader::loadClass('Zend_Gdata');
Zend_Loader::loadClass('Zend_Gdata_AuthSub');
Zend_Loader::loadClass('Zend_Gdata_ClientLogin');
Zend_Loader::loadClass('Zend_Gdata_Spreadsheets');

function getClientLoginHttpClient($user, $pass)
    {
      $service = Zend_Gdata_Spreadsheets::AUTH_SERVICE_NAME;
      $client = Zend_Gdata_ClientLogin::getHttpClient($user, $pass, $service);
      return $client; 
    }
    
    $client = getClientLoginHttpClient('cdiscount.test70@gmail.com', 'option123');
    $spreadsheetService = new Zend_Gdata_Spreadsheets($client);

    // Get your spreadsheets feed
	
    $feed = $spreadsheetService->getSpreadsheetFeed();
	
    //echo "Title :".$feed->title; 
    //echo "Total :".$feed->totalResults; 

    foreach($feed->entries as $entry)
    {

      $title = $entry->title->text;
	
      if($title == "Order_Status")
      {
	$id = $entry->id;
      }

    }

    // Get spreadsheet key
	
    $spreadsheetsKey = basename($id);   
    //echo 'Spreadsheet key is: ' . $spreadsheetsKey .'</br>';

    $query = new Zend_Gdata_Spreadsheets_DocumentQuery();	
    $query->setSpreadsheetKey($spreadsheetsKey);	
    $feed = $spreadsheetService->getWorksheetFeed($query);
    
    foreach($feed->entries as $entry)
    { 
	//echo 'Your "'. $entry->title->text .'" worksheet ID is: '; 
	$worksheetId = basename($entry->id);  
	//echo $worksheetId.'</br>';
    }
    
    
    
    
    // Get cell feed
	     
     $query = new Zend_Gdata_Spreadsheets_CellQuery();	
     $query->setSpreadsheetKey($spreadsheetsKey);	
     $query->setWorksheetId($worksheetId);	
     $cellFeed = $spreadsheetService->getCellFeed($query);

     
     // List Of All Cell
	     
	     
     foreach($cellFeed as $cellEntry)
     {	
       $row = $cellEntry->cell->getRow();
       $col = $cellEntry->cell->getColumn();
       $val = $cellEntry->cell->getText();
     
       //echo "$row, $col = $val</br>";
       //echo "$val</br>";
       $getAllOrderVal[]=$val;
     }
*/

?>
<?php /** @var $this Mage_Sales_Block_Order_Info */ ?>
<?php
//$_order = $this->getOrder()

$orderIncreemtnId=$_REQUEST['order_id'];
$visitoremail=$_REQUEST['visitoremail'];

$tableOrder= Mage::getSingleton('core/resource')->getTableName('sales_flat_order');

$write = Mage::getSingleton('core/resource')->getConnection('core_write');
$result=$write->query("select s.entity_id from ".$tableOrder." as s where s.increment_id = '".addslashes($orderIncreemtnId)."' AND s.customer_email ='".addslashes($visitoremail)."' ");

$row = $result->fetch();
//echo $row['entity_id'];
$orderId=$row['entity_id'];

if($orderId != '')
{
$_order = Mage::getModel('sales/order')->load($orderId);
$items = $_order->getAllItems();
$_totalData = $_order->getData();
//print_r($_totalData);
//$_grand = $_totalData['grand_total'];

$_subtotal = $_totalData['base_subtotal_incl_tax'];
//$custname = $_totalData->getCustomerName();

?>

<div class="order-history-custom">
   <!-- Start Order Details  -->
   <div class="page-title title-buttons">
      <h1>
	<?php
	//$ordRealId=$_order->getRealOrderId();
	//
	//if(in_array($ordRealId,$getAllOrderVal))
	//{
	//  //Show specific Row
	//  $orderNo=$_order->getRealOrderId();
	//  $query = new Zend_Gdata_Spreadsheets_ListQuery();
	//  $query->setSpreadsheetKey($spreadsheetsKey);
	//  $query->setWorksheetId($worksheetId);
	//  $query->setSpreadsheetQuery('orderno = '.$orderNo);
	//  $listFeed = $spreadsheetService->getListFeed($query);
	//  
	//  //echo "<pre>";
	//  //print_r($listFeed);
	//  //echo "</pre>";
	//  
	//  $ct=0;
	//  foreach ($listFeed as $listEntry)
	//  {
	//    $rowData = $listEntry->getCustom();
	//    foreach($rowData as $customEntry)
	//    {
	//      $ct++;
	//      if($ct==2)
	//      {
	//	  //echo $customEntry->getText();
	//	  //echo '</br>';
	//	  echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $customEntry->getText());
	//      } 
	//    }
	//  }
	//}else{
	//    echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel());
	//}
	
	echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel());
	?>
      </h1>
     
   </div>
   <div class="item-info">
      <table class="data-table" id="my-orders-table" summary="<?php echo $this->__('Items Ordered') ?>">
       <col />
       <col width="1" />
       <col width="1" />
       <col width="1" />
       <col width="1" />
       <thead>
	   <tr>
	    
	       <th><?php echo $this->__('Items') ?></th>
	       
	       <th><?php echo $this->__('SKU') ?></th>
	       <th class="a-center"><?php echo $this->__('Qty') ?></th>
	       <th class="a-right"><?php echo $this->__('Price') ?></th>
	   </tr>
       </thead>
	 <?php
	    $itemcount=count($items);
	    foreach ($items as $itemId => $item)
	    {
	       
	       $ItemName=$item->getName();
	       $price = $item->getPrice();
	       $sku = $item->getSku();
	       $qty = $item->getQtyToInvoice();
	       if($qty != 0)
	       { 
	       ?>  
	    <tbody>
	    <tr>
	       <td>
	       <?php echo $ItemName; ?>
	       <?php
	       $options = $item->getProductOptions();
		  foreach ($options as $option):
		  //$option contains the option information for item
		  //echo "<pre>";print_r($option); echo "</pre>";
		     foreach($option as $opt)
		     {
			//print_r($opt);
			
			if($opt['label'] == "Color" || $opt['label'] == "Size")
			{
			   ?>
			   <br>
			   <span class="optval">
			      <?php echo $opt['label']; ?> : <?php echo $opt['value']; ?>
			   </span>
			   
			   <?php
			}
		     }
		  
		  endforeach;
	       ?>
	       
	       </td>
	       
	       <td class="cls-center"><?php echo $sku; ?></td>
	       <td class="cls-center"><?php echo $qty; ?></td>
	       <td class="cls-right"><?php echo Mage::helper('core')->currency($price, true, false); ?> </td>
	    </tr>
	    </tbody>
	       
	       <?php
	       }
	    }
	 ?>
	 
      </table>
   <!--<script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>-->
   </div>
   <!-- End Order Details  -->
</div>
<?php } else { ?>
<div class="emptytrack" style="text-align:center;">
    <p class="ordertarck-empty"><?php echo $this->__('Invalid Data. Please enter valid order number and email address.') ?></p>
    <p><a href="<?php echo $this->getUrl('track-order/'); ?>"><?php echo $this->__('Back') ?></a></p>
</div>
<?php } ?>
