<?php
if (!function_exists('amshopby_render_label')) {
    function amshopby_render_label($placement, $label, $value) {
        /**
         * @todo Add ability to specify placement of label (after, before) 
         * @todo Move to helper?
         */
        if ($placement == 'before') {
            return $label . $value;
        } else {
            return $value . $label;
        }
    }
}

$attribute = $this->getAttributeCode();
$prefix = 'amshopby-' . $attribute;

$fromValue = $this->getValueFrom();
$toValue   = $this->getValueTo();

$hideCounts = $this->getHideCounts();
?>
<ol <?php if ($this->getCollapsed() && !$this->getHasSelection()): ?>style="display:none" <?php endif ?> class="price_filter">
<?php 
$show = ($this->getItemsCount() > 1 || !Mage::getStoreConfig('amshopby/general/hide_one_value'));
if (count($this->getItems()) == 1){
    $a  = current($this->getItems());
    if ($a->getLabel() == ''){
        $show = false;    
    }
}
?>
<?php if (Amasty_Shopby_Model_Catalog_Layer_Filter_Price::DT_DEFAULT == $this->getDisplayType() && $show): ?>
    <?php foreach ($this->getItems() as $_item):?>
        <li>
            <?php if ($_item->getCount() > 0): ?>
            <a class="<?php echo $prefix?>" href="<?php echo $this->urlEscape($_item->getUrl()) ?>"<?php if ($this->getSeoRel()) echo ' rel="nofollow"' ?>><?php echo $_item->getLabel() ?></a>
            <?php endif; ?>
            <?php if (!$hideCounts):?>
            (<?php echo $_item->getCount() ?>)
            <?php endif;?>
        </li>
    <?php endforeach ?>
<?php elseif (Amasty_Shopby_Model_Catalog_Layer_Filter_Price::DT_DROPDOWN == $this->getDisplayType() && $show): ?>
    <li>
        <select onchange="if (this.value) setLocation(this.value)" class="amshopby-select amshopby-ajax-select">
            <!-- uncomment to show Filter name in the dropdown <option value=""><?php echo $this->getName() ?></option>-->
            <option value=""></option>
            <?php foreach ($this->getItems() as $_item): ?>
            <option  <?php if (Mage::app()->getRequest()->getParam($attribute) == $_item->getValue()) echo "selected" ?> 
                value="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?><?php if (!$hideCounts):?> (<?php echo $_item->getCount() ?>)<?php endif;?></option>
            <?php endforeach ?>
        </select>
    </li>
<?php elseif (Amasty_Shopby_Model_Catalog_Layer_Filter_Price::DT_SLIDER == $this->getDisplayType()): ?>

    <li class="price-filter-li">
        <div id="<?php echo $prefix?>" class="amshopby-slider">
        
        <?php 
            
            $sliderType = $this->getSliderType();
        
            $max = ceil($this->_filter->getMaxValue());
            $min = floor($this->_filter->getMinValue());
            
            /*
             * Holds state of initial price position
             */
            $initialState = false;
            
            $valueLabel = $this->getValueLabel();
            $valuePlacement = $this->getValuePlacement();
            
            if (!is_numeric($fromValue)){
                $fromValue = $min;
                $initialState = true;
            }
            
            /*
             *    User changed price in text boxes 
             */
            if ($fromValue <= $min) {
                $initialState = true;
            }
           
            if (!is_numeric($toValue)) {
                $toValue = $max;      
            }
            
            $from = min($fromValue, $min);            
            $to   = max($toValue, $max);
            
            if ($from < 0.01 && $to < 0.01){
                $to = sprintf('%.00f', $to);
            }
            
            
            $width = 170;
            
            $ratePP = ($to - $from) / $width;  
            
            $firstOffset =  ($max > 0.01 && !$initialState) ? ($fromValue - $min) / $ratePP : 0;
            $secondOffset = ($to && $max > 0.01 && $toValue < $max) ? ($toValue - $min) / $ratePP : $width;
            
            $params = implode(',', array($width, $firstOffset, $secondOffset, $to, $prefix, $from, $ratePP));
?>
        <?php
        /*
         * Current selection only
         */ 
        if ($sliderType == 0) {?>
            <div class="handle selected" style="left:<?php echo $firstOffset ?>px;">
            </div>
            <span id="<?php echo $prefix?>-slider-bar" class="amshopby-slider-bar" style="left: <?php echo ($firstOffset)?>px; width: <?php echo ($secondOffset - $firstOffset - 1)?>px">&nbsp;</span>
            <div class="handle handel-new" style="left:<?php echo $secondOffset ?>px;">
            </div>

        </div>
        
        <?php /* ?>
        <div class="amshopby-slider-price amshopby-slider-price-from">
        <?php
            $value = '<span id="' . $prefix .'-from-slider">' . $fromValue . '</span>';
             echo amshopby_render_label($valuePlacement, $valueLabel, $value); 
         ?>
        </div>
        <div class="amshopby-slider-price amshopby-slider-price-to">
        <?php
            $value = '<span id="' . $prefix .'-to-slider">' . $toValue . '</span>';
             echo amshopby_render_label($valuePlacement, $valueLabel, $value); 
         ?>
        </div>
        <?php  */ ?>
        <?php } ?>
        <?php
        /*
         * With ranges
         */ 
        if ($sliderType == 1) {?>
            <div class="handle selected" style="left:<?php echo $firstOffset ?>px">
            </div>
            <div class="handle handel-new" style="left:<?php echo $secondOffset ?>px">
            </div>
        </div>
                    
            
            <div class="amshopby-slider-price amshopby-slider-price-from"><?php echo amshopby_render_label($valuePlacement, $valueLabel, $from) ?></div>
            <div class="amshopby-slider-price amshopby-slider-price-to"><?php echo amshopby_render_label($valuePlacement, $valueLabel, $to) ?></div>
            <div class="amshopby-slider-price-range">
                    <span id="<?php echo $prefix?>-from-slider"><?php echo $fromValue ?></span>&nbsp;-&nbsp;
                    <span id="<?php echo $prefix?>-to-slider"><?php echo $toValue ?></span>
            </div>
        <?php } ?>
        <input type="hidden" class="amshopby-slider-param" value="<?php echo $params ?>" />
    </li>     
<?php endif; ?>

<?php if ($this->getFromToWidget()):?>
        <?php if (Amasty_Shopby_Model_Catalog_Layer_Filter_Price::DT_FROMTO != $this->getDisplayType()):?><li>&nbsp;</li><?php endif ?>
        <li>
            <label><?php echo $this->__('Baht')?></label><input type="text" size="2" value="<?php echo $fromValue?>" name="<?php echo $prefix?>" class="input-text" id="<?php echo $prefix?>-from" /> <!--  -   --> 
            <label><?php echo $this->__('Baht')?></label><input type="text" size="2" value="<?php echo $toValue ?>" name="<?php echo $prefix?>" class="input-text" id="<?php echo $prefix?>-to"/>
            <button type="submit" title="<?php echo $this->__('Find')?>" class="form-button button <?php echo $prefix?>-find" name="<?php echo $prefix?>" id="<?php echo $prefix?>-btn"><span><span><?php echo $this->__('Find')?></span></span></button>
        </li> 
<?php else: ?>
    <input type="hidden" size="2" value="<?php echo $fromValue?>"  id="<?php echo $prefix?>-from" /> 
    <input type="hidden" size="2" value="<?php echo $toValue?>" id="<?php echo $prefix?>-to"/>
<?php endif; ?>
<li style="display:none">
<input type="hidden" id="<?php echo $prefix?>-url" value="<?php echo Mage::helper('amshopby/url')->getFullUrl(array($attribute => $prefix . '-from-' . $prefix . '-to'))?>" />
</li>
</ol>