<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellpadding="0" cellspacing="0" border="0" width="754" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto; border: 1px solid #ccc; padding: 0px 10px 10px;" >
    
         <tr>
            <td style="padding:5px;"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" /></a></td>
            <td style="text-align:right;padding:5px;"><img alt="0" src="{{skin url="images/eng-img/need_help.png" _area='frontend'}}"></td>
         </tr>
         <tr>
            <td colspan="2" style="border-top:1px solid #ccc;padding:5px;">
                <h2>Dear {{htmlescape var=$customer.name}},,</h2>
                <p>Your e-mail {{var customer.email}} must be confirmed before using it to log in to our store.</p>
                <p>To confirm the e-mail and instantly log in, please, use<a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"> this confirmation link. </a>This link is valid only once.</p>
                <p>If you have any questions about your account or any other matter, please feel free to contact us at<a style="color:#7098d6" href="#"> {{config path='trans_email/ident_support/email'}}</a> or by phone at
                {{config path='general/store_information/phone'}}.</p>
            </td>
         </tr>
       
         <tr>
            <td colspan="2" style="border-top:1px solid #ccc;padding:2px; background:#ddd; text-align:center; font-size:14px;">
                <span>Thank you again, See you soon on <strong>{{var store.getFrontendName()}}</strong></span>
            </td>
         </tr>
         
          <tr>
            <td colspan="2" style="padding:2px; text-align:center;">
                <img alt="0" src="{{skin url="images/eng-img/social.png" _area='frontend'}}">
            </td>
         </tr>
         <tr>
            <td style="color:#949494; text-align:left; padding-left:10px;">We guarantee the confidentiality of your data,<br> for more details :<a style="color:#7098d6" href="#">  Privacy policy</a> </td>
            <td style="color:#949494; text-align:right; padding-right:10px;">Cdiscount.co.th<br> 97/11, 6th Floor, Rajdamri Road,<br> Lumpini, Phathumwan, Bangkok 10330</td>
         </tr>
    </table>
</div>
</body>