<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" border="0" width="754" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto; border: 1px solid #ccc; padding: 0px 10px 10px;" >
    
         <tr>
            <td style="padding:5px;"> <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></td>
            <td style="text-align:right;padding:5px;"><img alt="0" src="{{skin url="images/eng-img/need_help.png" _area='frontend'}}"> </td>
         </tr>
         <tr>
            <td colspan="2" style="border-top:1px solid #ccc;padding:5px;">
                <h2>Account password reset confirmation</h2>
                <p><strong>Dear {{htmlescape var=$customer.name}},</strong></p>
                <p>There was recently a request to change the password for your account.</p>
                <p>If you requested this password change, please click on the following link to reset your password:</p>
                <p><a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#7098d6;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a>{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                <p>If clicking the link does not work, please copy and paste the URL into your browser instead.</p>
                <p>If you did not make this request, you can ignore this message and your password will remain the same.</p>
            </td>
         </tr>
       
         <tr>
            <td colspan="2" style="border-top:1px solid #ccc;padding:2px; background:#ddd; text-align:center; font-size:14px;">
                <span>Thank you again, See you soon on <strong>{{var store.getFrontendName()}}</strong></span>
            </td>
         </tr>
         
          <tr>
            <td colspan="2" style="padding:2px; text-align:center;">
                <img alt="0" src="{{skin url="images/eng-img/social.png" _area='frontend'}}">
            </td>
         </tr>
         <tr>
            <td style="color:#949494; text-align:left; padding-left:10px;">We guarantee the confidentiality of your data,<br> for more details :<a style="color:#7098d6" href="#">  Privacy policy</a> </td>
            <td style="color:#949494; text-align:right; padding-right:10px;">Cdiscount.co.th<br> 97/11, 6th Floor, Rajdamri Road,<br> Lumpini, Phathumwan, Bangkok 10330</td>
         </tr>
    </table>
    </div>
</body>
