<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage
 * @author	   cherdchai Hinjumpa , cherdchai.h@marginframe.com
 * @website   http://www.marginframe.com
 */
?>
<p><strong><?php echo $this->htmlEscape($this->getMethod()->getTitle()) ?></strong></p>
<?php
$PaymentSelect = $this->htmlEscape($this->getInfo()->getPoNumber());
$ChannelCode = ""; $ChannelName = "-";
$AgentCode = ""; $AgentName = "-";
$PaymentArray = explode("|",trim($PaymentSelect));
$ChannelCode = $PaymentArray[0];
$AgentCode = $PaymentArray[1];
$_SESSION["ChannelCode"] = $ChannelCode;
$_SESSION["AgentCode"] = $AgentCode;
//=> Get Channel Name
switch ((string)$ChannelCode) {
	case "WEBPAY":
    	$ChannelName = $this->__('Pay through direct debit');
	    break;
	case "OVERTHECOUNTER":
    	$ChannelName = $this->__('Pay at over the counter');
    	break;
	case "ATM":
    	$ChannelName = $this->__('Pay at ATM machine');
    	break;
	case "BANKCOUNTER":
    	$ChannelName = $this->__('Pay at Bank Counter');
    	break;
	case "IBANKING":
    	$ChannelName = $this->__('Pay at Internet Banking');
    	break;		
    break;
}

//=> Get Agent Name
switch ((string)$AgentCode) {
	case "BIGC":
    	$AgentName = $this->__('Big C Bill Payment @ Cashier'); break;
	case "TESCO":
    	$AgentName = $this->__('Tesco Lotus(TESCO)'); break;
	case "PAYATPOST":
    	$AgentName = $this->__('Thailand Post(PAYATPOST)'); break;
	case "TRUEMONEY":
    	$AgentName = $this->__('True Money Express(TRUEMONEY)'); break;
	case "7ELEVEN":
    	$AgentName = $this->__('Counter Service at 7-Eleven(7ELEVEN)'); break;
	case "TOT":
    	$AgentName = $this->__('Just Pay by TOT(TOT)'); break;
	case "MPAY":
    	$AgentName = $this->__('mPay Station by AIS (MPAY)'); break;
	case "KBANK":
    	$AgentName = $this->__('Kasikorn Bank(KBANK)'); break;
	case "SCB":
    	$AgentName = $this->__('The Siam Commercial Bank(SCB)'); break;
	case "KTB":
    	$AgentName = $this->__('Krung Thai Bank(KTB)'); break;
	case "TMB":
    	$AgentName = $this->__('TMB Bank Public Company Limited(TMB)'); break;
	case "UOB":
    	$AgentName = $this->__('United Overseas Bank(UOB)'); break;
	case "BAY":
    	$AgentName = $this->__('Bank of Ayudhya(BAY)'); break;
	case "BBL":
    	$AgentName = $this->__('Bangkok Bank PCL(BBL)'); break;
}
?>
<p><span><?php echo $ChannelName;?></span></p>
<p><span><?php echo $AgentName;?></span></p>