<?php
$mapping = $this->getMapping();
?>
<p><small><?php echo $this->__('Note: Column number begins from zero.');?></small></p>
<div class="grid">
    <table cellspacing="0" id="mappingTable" class="data border" style="width:600px;">
        <thead>
        <tr class="headings">
            <th style="width:50px"><?php echo $this->__('Column Number');?></th>
            <th><?php echo $this->__('Attribute Code');?></th>
            <th><?php echo $this->__('Actions');?></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6"><button onclick="mapping.addRow(); return false;" class="button"><span><span><?php echo $this->__('Add')?></span></span></button></td>
        </tr>
        </tfoot>
        <tbody>
        <?php $id = 0;  if (empty($mapping)):?>
            <tr>
                <td><input type="text" class="input-text" name="mapping[<?php echo $id;?>][number]" value="" /></td>
                <td><input type="text" class="input-text" name="mapping[<?php echo $id;?>][code]" value="" /></td>
                <td><button onclick="return mapping.removeRow(this, event);" class="button delete"><span><span><?php echo $this->__('Delete')?></span></span></button></td>
            </tr>
        <?php else:?>
            <?php foreach ($mapping as $columnNumber => $attributeCOde):?>
                <tr>
                    <td><input type="text" class="input-text" name="mapping[<?php echo $id;?>][number]" value="<?php echo $columnNumber;?>" /></td>
                    <td><input type="text" class="input-text" name="mapping[<?php echo $id;?>][code]" value="<?php echo $attributeCOde;?>" /></td>
                    <td><button onclick="return mapping.removeRow(this, event);" class="button delete"><span><span><?php echo $this->__('Delete')?></span></span></button></td>
                </tr>
                <?php $id++ ;endforeach;?>
        <?php endif;?>
        </tbody>
    </table>
    <script type="text/javascript">
        var Mapping = Class.create({
            currentId: null,
            initialize: function(currentId) {
                this.currentId = currentId;
            },
            removeRow: function(btn, event) {
                var tr = Event.findElement(event, 'tr');
                if (tr) {
                    Element.select(tr, ['input', 'select']).each(function(elem){elem.hide();elem.disabled = true});
                    Element.hide(tr);
                }
                return false;
            },
            addRow: function () {
                var cols = '<td><input type="text" class="input-text" name="mapping[%id%][number]" value="" /></td>' +
                    '<td><input type="text" class="input-text" name="mapping[%id%][code]" value="" /></td>' +
                    '<td><button onclick="return mapping.removeRow(this, event);" class="button delete"><span><span><?php echo $this->__('Delete')?></span></span></button></td>';
                cols = cols.replace(/%id%/g, this.currentId);
                var row = document.createElement('tr');
                row.innerHTML = cols;
                $$('#mappingTable tbody')[0].appendChild(row);
                this.currentId++;
            }
        });
        var mapping = new Mapping(<?php echo $id+1;?>)
    </script>
</div>
