<?php /*  Display same style Image */
$Currentpid=Mage::registry('current_product')->getId(); 
$_product = Mage::getModel('catalog/product')->load($Currentpid);
$StyleNo = $_product->getResource()->getAttribute('style_no')->getFrontend()->getValue($_product);
$ProductCollection = Mage::getModel('catalog/product')->getCollection()->addFieldToFilter(array(
array('attribute'=>'style_no','eq'=>$StyleNo),
));?>
<div class="all_cross_img">
<?php foreach($ProductCollection as $ProductColl){
    $ProductColl = Mage::getModel('catalog/product')->load($ProductColl->getId());
    $crossImg = Mage::helper('catalog/image')->init($ProductColl,'image_swaches')->resize(50);?>
    <div class="crossimage"><a class= "imgcustom <?php if($ProductColl->getId() == $Currentpid){ echo "active"; }?>" href="<?php echo $ProductColl->getProductUrl()?>"><img src="<?php echo $crossImg?>" alt="" title="" /></a></div>
<?php } ?>
</div>
 <?php /*  Display same style Image        */?>
