<?php /*  Display same style Image */?>
<?php
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$currentCategoryId= $_category->getId();
$_category = Mage::getModel('catalog/category')->load($currentCategoryId);
$_ProductCollection = Mage::getResourceModel('catalog/product_collection')->addCategoryFilter($_category)->addAttributeToSelect('*');
$_ProductCollection->load();?>
<div class="all_cross_img">
<?php $ProductCollection='';
foreach($_ProductCollection as $_ProductColl){
            //echo $_ProductColl->getId();
            $_product = Mage::getModel('catalog/product')->load($_ProductColl->getId());
           $StyleNo = $_product->getResource()->getAttribute('style_no')->getFrontend()->getValue($_product);
            //$StyleNoArr[]=$StyleNo;
            $ProductCollection = Mage::getModel('catalog/product')->getCollection()->addFieldToFilter(array(
            array('attribute'=>'style_no','eq'=>$StyleNo),
            ));
}
//echo "<pre>"; print_r($StyleNoArr);echo "</pre>";
foreach($ProductCollection as $ProductColl){ 

$ProductColl = Mage::getModel('catalog/product')->load($ProductColl->getId());
$crossImg = Mage::helper('catalog/image')->init($ProductColl,'image_swaches')->resize(50);?>
<div class="crossimage"><a href="<?php echo $ProductColl->getProductUrl()?>"><img src="<?php echo $crossImg?>" alt="" title="" /></a></div>
<?php }?>
</div>
 <?php /*  Display same style Image        */?>
