<?php if($this->displayDeliveryDate()): ?>
<div class="col-set order-info-box">
    <div class="col">
        <div class="box">
            <div class="box-title">
                <h2><?php echo $this->__('Expected Delivery Date') ?></h2>
            </div>
            <div class="box-content">
                <?php echo $this->escapeHtml($this->getDisplayDeliveryDate()); ?>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>