<?php

?>
<div id="order_history_block">
    <?php if ($this->canAddComment()):?>
	<div id="history_form" class="order-history-form">
        <div><?php //echo Mage::helper('sales')->__('Add Order Comments') ?></div>
        <span class="field-row" style="display:none">
            <label class="normal" for="history_status"><?php echo Mage::helper('sales')->__('Status') ?></label><br/>
            <select name="history[status]" class="select" id="history_status">
            <?php foreach ($this->getStatuses() as $_code=>$_label): ?>
                <option value="<?php echo $_code ?>"<?php if($_code==$this->getOrder()->getStatus()): ?> selected="selected"<?php endif; ?>><?php echo $_label ?></option>
            <?php endforeach; ?>
            </select>
        </span>

        <span class="field-row" style="display:none">
            <label class="normal" for="history_comment"><?php echo Mage::helper('sales')->__('Comment') ?></label>
            <textarea name="history[comment]" rows="3" cols="5" style="height:6em; width:99%;" id="history_comment"></textarea>
        </span>
        <div class="f-left" style="display:none">
            <?php if ($this->canSendCommentEmail()): ?>
                <input name="history[is_customer_notified]" type="checkbox" id="history_notify" value="1" /><label class="normal" for="history_notify"> <?php echo Mage::helper('sales')->__('Notify Customer by Email') ?></label><br />
            <?php endif; ?>
            <input name="history[is_visible_on_front]" type="checkbox" id="history_visible" value="1" /><label class="normal" for="history_visible"> <?php echo Mage::helper('sales')->__('Visible on Frontend') ?></label>
        </div>
        <div class="f-right" style="display:none">
            <?php echo $this->getChildHtml('submit_button') ?>
        </div>
        <div class="clear"></div>
        
        <?php 
			$oldRefundType = $this->getOrder()->getPbsRefundType();
			$oldAccName = $this->getOrder()->getPbsEbtAccName();
			$oldAccNumber = $this->getOrder()->getPbsEbtAccNumber();
			$oldAccBank = $this->getOrder()->getPbsEbtAccBank();
			//$currstate = $this->getOrder()->getState();
			//if($currstate == 'processing' || $currstate == 'shipped' || $currstate == 'cod_shipped') { 
			if(true) {
		?>
        <div id="order_refund_div" style="display:none">
			<span class="field-row">
        		<label class="bold"><?php echo Mage::helper('sales')->__('Refund Information:') ?></label>
        	</span>
        	<div class="field-row">
	        	<div style="margin-bottom:3px">
		        	<div class="f-left" style="width:25%">
		        		<label class="normal" for="order_refund_type"><?php echo Mage::helper('sales')->__('Refund Type') ?></label>
		        	</div>
		        	<div class="f-right" style="width:70%">
			        	<select name="order[refund_type]" class="select" id="order_refund_type" style="width:100%;">
			        		<option value="none"><?php echo Mage::helper('sales')->__('-- select --') ?></option>  
			                <option value="cash" <?php echo ($oldRefundType=="cash") ? "  selected=\"selected\"" : "";?>>Cash</option>
			                <option value="eft" <?php echo ($oldRefundType=="eft") ? "  selected=\"selected\"" : "";?>>Bank Transfer</option>
			                <option value="2c2p" <?php echo ($oldRefundType=="2c2p") ? "  selected=\"selected\"" : "";?>>Credit Card</option>
			                <option value="storecredit" <?php echo ($oldRefundType=="storecredit") ? "  selected=\"selected\"" : "";?>>Store Credit</option>
			            </select>
			        </div>
			        <div class="clear"></div>
		        </div>
            </div>
	        <div class="field-row" id="ebt_option" style="display:none">
	       		<div style="margin-bottom:0px">
		            <div class="f-left" style="width:25%">
		            	<label class="normal" for="order_ebt_acc_bank"><?php echo Mage::helper('sales')->__('Bank') ?></label>
		            </div>
		        	<div class="f-right" style="width:70%">
		        		<select name="order[ebt_acc_bank]" class="select" id="order_ebt_acc_bank" style="width:100%;">
			        		<option value="none"><?php echo Mage::helper('sales')->__('-- select --') ?></option>
			        		<?php 
			        			$read = Mage::getSingleton('core/resource')->getConnection('core_read');
			        			$q_string = '';
			        			if(Mage::app()->getLocale()->getLocaleCode() == "th_TH") {
			        				$q_string = "SELECT initial, bank_name_th as bank_name FROM ttakeoff_bank_code ORDER BY bank_name_th";
			        			} else {
			        				$q_string = "SELECT initial, bank_name FROM ttakeoff_bank_code ORDER BY bank_name";
			        			}
			        			$q_entity = $read->fetchAll($q_string);
			        			foreach($q_entity as $entity):
			        		?>
			                	<option value="<?php echo trim($entity['initial']); ?>" <?php echo ($oldAccBank == trim($entity['initial'])) ? ' selected="selected"' : ''; ?>>
			                		<?php echo trim($entity['bank_name']); ?>
			                	</option>
			            	<?php endforeach; //print_r($q_entity); ?>
			            </select>
			            <!--<input type="text" name="order[ebt_acc_bank]" style="width:99%;" id="order_ebt_acc_bank" value="<?php //echo $oldAccBank;?>"></input>-->
		            </div>
		            <div class="clear"></div>
	        	</div>
	        	<div style="margin-bottom:3px">
		        	<div class="f-left" style="width:25%">
		        		<label class="normal" for="order_ebt_acc_name"><?php echo Mage::helper('sales')->__('Account Name') ?></label>
		        	</div>
		        	<div class="f-right" style="width:70%">
		            	<input type="text" name="order[ebt_acc_name]" style="width:99%;" id="order_ebt_acc_name" value="<?php echo $oldAccName;?>"></input>
		            </div>
		            <div class="clear"></div>        		
	        	</div>
	        	<div style="margin-bottom:3px">
					<div class="f-left" style="width:25%">
		            	<label class="normal" for="order_ebt_acc_number"><?php echo Mage::helper('sales')->__('Account Number') ?></label>
		            </div>
		        	<div class="f-right" style="width:70%">
		            	<input type="text" name="order[ebt_acc_number]" style="width:99%;" id="order_ebt_acc_number" value="<?php echo $oldAccNumber;?>"></input>
		            </div>
		            <div class="clear"></div>
	        	</div>
	        </div>
	    </div>
        <?php } ?>
        <span class="field-row">
	        <?php foreach ($this->getStatuses() as $_code=>$_label): ?>	       		
	       		<?php
	       		if($_code != $this->getOrder()->getStatus()) {
		            $onclick = "selectedHistoryStatus('".$_code."', '".$this->getSubmitUrl()."')";
		            $button = $this->getLayout()->createBlock('adminhtml/widget_button')
		            ->setData(array(
		                'id'      => $_code.'_id',
		                'label'   => $_label,
		                'class'   => 'save',
						'onclick' => $onclick
		            ));
		            $this->setChild($_code, $button);
		            echo $this->getChildHtml($_code);
	       		}
				?>
	        <?php endforeach; ?>
        </span>
        
    </div>
    <!-- <div class="divider"></div> -->
    <?php endif;?>
    <ul class="note-list">
    <?php $limit=10; $ct=0; foreach ($this->getOrder()->getStatusHistoryCollection(true) as $_item): ?>
        <?php $ct++; if($ct > $limit) break; ?>
        <li>
            <strong><?php echo $this->helper('core')->formatDate($_item->getCreatedAtDate(), 'medium') ?></strong>
            <?php echo $this->helper('core')->formatTime($_item->getCreatedAtDate(), 'medium') ?><span class="separator">|</span><strong><?php echo $_item->getStatusLabel() ?></strong>
            <!-- <br/> -->
            <small style="display:none">
            	<?php //echo $this->helper('sales')->__('Customer') ?>
	            <strong class="subdue" > 
	                <?php //if ($this->isCustomerNotificationNotApplicable($_item)): ?>
	                <?php //echo $this->helper('sales')->__('Notification Not Applicable') ?>
	                <?php //elseif ($_item->getIsCustomerNotified()): ?>
	                <?php //echo $this->helper('sales')->__('Notified') ?>
	                <!--  <img src="<?php //echo $this->getSkinUrl('images/ico_success.gif') ?>" width="16" height="16" alt="" /> -->
	                <?php //else: ?>
	                <?php //echo $this->helper('sales')->__('Not Notified') ?>
	                <?php //endif; ?>
	            </strong>
	        </small>
            <?php if ($_item->getUsername()): ?>
                <br/><small><?php  echo "Updated by: ".$this->htmlEscape($_item->getUsername().' ('.$_item->getUserrole().')', array('b','br','strong','i','u')) ?></small>
            <?php endif; ?>
            <?php if ($_item->getComment()): ?>
                <br/><?php echo $this->escapeHtml($_item->getComment(), array('b','br','strong','i','u')) ?>
            <?php endif; ?>            
        </li>
    <?php endforeach; ?>
    	<li>
    		<small>
	    		<strong>Gold Note number: </strong><?php echo $this->getOrder()->getGoldOrderId()?><br>
				<strong>Gold Last updated: </strong><?php echo $this->getOrder()->getGoldUpdatedDate()?>
			</small>
    	</li>
    </ul>
    <script type="text/javascript">
    
    if($('order_status'))$('order_status').update('<?php echo $this->getOrder()->getStatusLabel() ?>');

    function selectedHistoryStatus(selectedvalue, url)
    {
		if(selectedvalue == 'cancel_in_progress' || selectedvalue == 'shipment_cancel_in_progress' 
		|| selectedvalue == 'cod_return_in_progress' || selectedvalue == 'return_in_progress'
		)
		{
			if(!$('order_refund_div').visible())
			{
				$('order_refund_div').show();
			}
			else
			{

				if($('order_refund_type').value != 'none' && (
					$('order_refund_type').value != 'eft' || (				
						$('order_refund_type').value == 'eft' &&
						$('order_ebt_acc_name').value.trim() != '' &&
						$('order_ebt_acc_number').value.trim() != '' &&
						$('order_ebt_acc_bank').value.trim() != '')
					)) {

					if (confirm('<?php echo Mage::helper('sales')->__('Are you sure you want to save?') ?>')) {
						//put the comment
						var order_refund_type_text =  $('order_refund_type')[$('order_refund_type').selectedIndex].text;
						$('history_comment').value = '<b><?php echo Mage::helper('sales')->__('Refund by') ?>:</b> ' + order_refund_type_text;
						if($('order_refund_type').value == 'eft')
						{
							var order_ebt_acc_bank_text = $('order_ebt_acc_bank').selectedIndex >= 0 ? $('order_ebt_acc_bank').options[$('order_ebt_acc_bank').selectedIndex].innerHTML : '';
							$('history_comment').value = $('history_comment').value
							+ '<br><b><?php echo Mage::helper('sales')->__('Account Name') ?>:</b> ' + $('order_ebt_acc_name').value.trim()
							+ '<br><b><?php echo Mage::helper('sales')->__('Account Number') ?>:</b> ' + $('order_ebt_acc_number').value.trim()
							+ '<br><b><?php echo Mage::helper('sales')->__('Bank') ?>:</b> ' + order_ebt_acc_bank_text.trim()
							+ '<br><b><?php echo Mage::helper('sales')->__('Bank Code') ?>:</b> ' + $('order_ebt_acc_bank').value.trim();
						}

						//alert($('history_comment').value); return;
						
						//set new status and submit
						$('history_status').value = selectedvalue;
				    	submitAndReloadArea($('order_history_block').parentNode, url);
					} else {
						return;
					}

				}
				else {
					alert('<?php echo Mage::helper('sales')->__('Please complete refund information...') ?>');
					return;
				}
			}
		}
		else
		{	
			//set new status and submit
			$('history_status').value = selectedvalue;
	    	submitAndReloadArea($('order_history_block').parentNode, url);
		}
    }

    Event.observe($("order_refund_type"),'change', function(){
    	if(document.getElementById('order_refund_type').value == 'eft')
        {
    		$("ebt_option").show();
        }
    	else
    	{
    		$("ebt_option").hide();
        }
   	});
    </script>
</div>
