    <!--top-banner-->
    <div class="top-banner-contener">
      <div class="top-bann">
        <div class="cate-left">
          <div class="cate-heading">
            <h2>หมวดสินค้า</h2>
          </div>
          <?php /* category Display Start */?>
          <div class="cate-conte">
            <ul>
              <?php $allCats = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*');
                    $i=1;foreach($allCats as $category){
                    if($category->getParentId() ==  Mage::app()->getStore()->getRootCategoryId() && $category->getIsActive()){
                      //echo $category->getName();
                      $category  =  Mage::getModel('catalog/category')->load($category->getId());
                      ?>
              <li class="mobile-tab<?php echo $i;?>"> <span class="hel-icon"><a href="<?php echo $category->getUrl()?>"><span class="cat_img"><img src="<?php echo  Mage::getBaseUrl('media').'catalog/category/'.$category->getThumbnail()?>" alt="<?php echo $category->getThumbnail()?>" title="<?php echo $category->getThumbnail()?>" /></span><span><?php echo $category->getName();?></span></a><span class="border-hv"></span></span> 
              <div class="sub_cat">
                <div class="sub_third_image">
                <img src="<?php echo  Mage::getBaseUrl('media').'catalog/category/'.$category->getImage()?>" alt="<?php echo $category->getThumbnail()?>" title="<?php echo $category->getThumbnail()?>" />
                <?php $subcats = $category->getChildren();
                      $total_cat_array=explode(',',$subcats);?>
                      <div class="sub_third">
                        <?php $catCount=-1; $isDivClose=0; foreach($total_cat_array as $subId){ $catCount++;
                          $child = Mage::getModel('catalog/category')->load($subId);
                          
                          if($catCount%10==0) { $isDivClose=0; echo "<div class='column-div'>"; }
                        ?>
                          <ul class="sub_cat_arr">
                            <li class="sub-heading"><h1><a href="<?php echo $child->getUrl()?>"><?php echo $child->getName(); ?></a></h1></li>
                                <?php $thirdChilcat = $child->getChildren();
                                  $Third_cat_array=explode(',',$thirdChilcat);
                                foreach($Third_cat_array as $Third_cat){ $catCount++;
                                $Thirdchild = Mage::getModel('catalog/category')->load($Third_cat);?>
                                  <li>
                                    <a href="<?php echo $Thirdchild->getUrl()?>">
                                    <span><?php echo $Thirdchild->getname();?></span>
                                    </a>
                                  </li>
                                <?php }?>
                          </ul>
                      <?php if($catCount%10==9) { $isDivClose=1; echo "</div>"; } } if($isDivClose==0) { $isDivClose=1; echo "</div>"; } ?>
                      </div>
                </div>
              </div>
              </li>
              <?php $i++;
              } }?>
              
            </ul>
          </div>
          <?php /* category Display End */?>
        </div>
        
        <?php /*   Start for banner display   */ ?>
        <script type="text/javascript">
        jQuery(document).ready(function(){
          jQuery("ul.nav-bann li:first").trigger('click'); 
          jQuery('.nav-bann li').hover(function(){
            jQuery('.nav-bann li').removeClass('active');
            jQuery(this).addClass('active');
          });
        });
        </script>
        <div class="banner-cont">
          <div class="banner-left"><img class="bigimg" src="<?php echo $this->getSkinUrl()?>images/banner1.jpg" alt=""/></div>
          <div class="banner-nav">
            <ul class="nav-bann">
              
              <?php
	      $currentStoreId=Mage::app()->getStore()->getStoreId();
              $collection = Mage::getModel('homebanner/homebanner')->getCollection();
              $cnt=0;
              $count=count($collection);
	      foreach ($collection as $item) {
              //$cnt++;
              //echo $cnt;
	      if($item->getStoreId() == $currentStoreId) {
              $cnt++;
              $bigImage=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$item->getfilename();
              ?>
              <li class="<?php if(($cnt-1)%$count==0): ?>fast active<?php elseif($cnt%$count==0): ?> last<?php endif; ?>" onclick="jQuery('.bigimg').attr({'src':'<?php echo $bigImage; ?>'});" onmouseover="jQuery('.bigimg').attr({'src':'<?php echo $bigImage; ?>'});">
                <div class="bann-co">
                  <div class="bann-icon"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$item->getthumbnail()?>" width="94" height="74" alt=""/></div>
                  <div class="bann-text"> <span class="sm-text"><?php echo $item['thumbnail_text1']; ?></span> <span class="sm-text2"><?php echo $item['thumbnail_text2']; ?></span> </div>
                </div>
              </li>
              <?php } } ?>
            </ul>
          </div>
        </div>
      </div>
        <?php /*   End for banner display   */ ?>
    </div>
    <!--end-top-banner-->
    <div class="sell-bann-con">
  <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sell-left')->toHtml(); ?>
  <div class="sell-right">
        <div class="email-sub">
          <div class="email-con">
            <div class="sign-up"><img src="<?php echo $this->getSkinUrl()?>images/sign-up-now.png" alt=""/></div>
            <!--<form id="newsletter-validate-detail" method="post" action="">
              <div class="form-subscribe">
                <div class="form-subscribe-header">
                  <label>สมัครรับข่าวสารของเรา <br/>
                  ลุ้นรับ iPhone ใหม่</label>
                  <span>สุ่มจับวันที่ 14 มกราคม</span> </div>
                <div class="v-fix">
                  <input type="text" value="อีเมลของคุ"/>
                </div>
                <button class="button"> <span> <span>Subscribe</span> </span> </button>
              </div>
            </form>-->
            <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml')->toHtml(); ?>
          </div>
        </div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product-banner')->toHtml(); ?>
    </div>
    </div>
    <div class="prod-list-con">
      <div class="today-product-con">
        <div class="prd-stock-last">
          <div class="prod-title">
            <div class="today-tag"></div>
            <h2>รายการสินค้าที่ลงในทุกๆวัน มีที่เดียวที่ <span>Cdiscount</span></h2>
            <span class="view-more"><a href="#">ดูผลิตภัณฑ์อื่นๆ</a></span> </div>
        </div>
        <ul class="products-grid today-product-list">
          <li class="item first">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
            <div class="pro-mid-con"> <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/smasung-mobi.jpg" alt=""/> </a>
              <div class="prod-name-head">
                <div class="prod-caption">ลดสูงสุดถึง 20%</div>
                <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              </div>
              <div class="price-box">
                <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
                <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
              </div>
              <div class="save-bg"><span class="save-text">ประหยัด: </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item first">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
            <div class="pro-mid-con"> <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/smasung-mobi.jpg" alt=""/> </a>
              <div class="prod-name-head">
                <div class="prod-caption">ส่วนลด 15%</div>
                <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              </div>
              <div class="price-box">
                <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
                <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
              </div>
              <div class="save-bg"><span class="save-text">ประหยัด: </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item last">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
            <div class="pro-mid-con"> <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/smasung-mobi.jpg" alt=""/> </a>
              <div class="prod-name-head">
                <div class="prod-caption">ซื้อ 1 แถม 1 ฟรี !!!</div>
                <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              </div>
              <div class="price-box">
                <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
                <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
              </div>
              <div class="save-bg"><span class="save-text">ประหยัด: </span><span class="save-price">825</span></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="prod-brand-cont">
        <div class="prd-stock-last">
          <div class="prod-title">
            <div class="to-day-tag"></div>
            <h2>การประหยัดสุดคุ้มจากหลากหลายผลิตภัณฑ์</h2>
            <span class="view-more"><a href="#">ดูผลิตภัณฑ์อื่นๆ</a></span> </div>
        </div>
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('editor-block')->toHtml(); ?>
        </div>
      <div class="prod-cate-last-sale">
        <div class="prd-stock-last">
          <div class="prod-title">
            <div class="to-day-tag"> </div>
            <h2>ข้อเสนอจะสิ้นสุดในเร็วๆนี้!</h2>
            <span class="view-more"><a href="#">ดูผลิตภัณฑ์อื่นๆ</a></span> </div>
        </div>
        <ul class="products-grid product-stock">
          <li class="item first">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
            <div class="pro-mid-con">
              <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
              <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
              <div class="prod-name-head">
                <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
                <div class="prod-caption">ซื้อ 1 แถม 1 ฟรี !!!</div>
              </div>
              <div class="price-box">
                <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
                <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
              </div>
              <div class="save-bg"><span class="save-text">ประหยัด: </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
            <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">ช่วยถนอมเท้าของคุณ</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">ประหยัด: </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item last">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">เซ็ตมีดเซรามิกหลากสีสัน</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">ประหยัด: </span><span class="save-price">825</span></div>
            </div>
          </li>
        </ul>
        <ul class="products-grid product-stock last">
          <li class="item first">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">เซ็ตตำรวจสาธารณรัฐ</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">ประหยัด:</span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">รุ่น ลิมิตเต็ด พอล สมิธ</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">ประหยัด:</span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item last">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">ไทเทเนี่นม ชุบโครเมี่ยม</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">ประหยัด:</span><span class="save-price">825</span></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="prod-cate-cont">
        <div class="cler-sale">
          <div class="prod-title">
            <div class="to-day-tag"></div>
            <h2>ด่วน! จนกว่าสินค้าจะหมด</h2>
            <span class="view-more"><a href="#">ดูผลิตภัณฑ์อื่นๆ</a></span> </div>
        </div>
        <ul class="products-grid product-stock">
          <li class="item first">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">ซื้อ 1 แถม 1 ฟรี !!!</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">»ÃÐËÂÑ </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">ช่วยถนอมเท้าของคุณ</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">»ÃÐËÂÑ </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item last">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">เซ็ตมีดเซรามิกหลากสีสัน</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">»ÃÐËÂÑ </span><span class="save-price">825</span></div>
            </div>
          </li>
        </ul>
        <ul class="products-grid product-stock last">
          <li class="item first">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">เซ็ตตำรวจสาธารณรัฐ</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">»ÃÐËÂÑ </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">รุ่น ลิมิตเต็ด พอล สมิธ</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">»ÃÐËÂÑ </span><span class="save-price">825</span></div>
            </div>
          </li>
          <li class="item last">
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
            <div class="off-tag"><img src="<?php echo $this->getSkinUrl()?>images/off-tag20.png" alt=""/></div>
            <a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl()?>images/prod-img1.jpg" alt=""/></a>
            <div class="prod-name-head">
              <h2 class="product-name"><a href="#">ENFANT DIAPER ANY SIZE</a></h2>
              <div class="prod-caption">ไทเทเนี่นม ชุบโครเมี่ยม</div>
            </div>
            <div class="price-box">
              <p class="old-price"> <span class="price-label">จากราคา</span> <span class="price">650</span> </p>
              <p class="special-price"> <span class="price">25,000<span class="price-sy">บาท</span> </span> </p>
            </div>
            <div class="save-bg"><span class="save-text">»ÃÐËÂÑ </span><span class="save-price">825</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
