<?php
$_helper          =  Mage::helper('catalogsearch');
$_value           = $_helper->getEscapedQueryText();
$_currentCategory = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_currentIndex    = Mage::getSingleton('core/app')->getRequest()->getParam('index');
$_filterType      = $this->getFilterType();
$_url             = $this->getAjaxUrl();
?>
<form class="searchautocomplete UI-SEARCHAUTOCOMPLETE" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>">

    <div class="nav">

        <?php if ($_filterType == 'category'): ?>
        <div class="nav-search-in all-cat">
        <span class="category-fake UI-CATEGORY-TEXT drop-bg" id="select6"><?php echo $this->__('All Categories') ?></span>
            <select name="cat"  id="category_search_field" class="category UI-CATEGORY">
                <option value="0"><?php echo $this->__('All Categories') ?></option>
                <?php foreach ($this->getCategories() as $_category): ?>
                <option value="<?php echo $_category->getId() ?>" <?php if ($_currentCategory == $_category->getId()): ?>selected<?php endif ?>>
                    <?php echo $_category->getName() ?>
                </option>
                <?php endforeach ?>
            </select>
        </div>
        <?php elseif ($_filterType == 'index'): ?>
            <div class="nav-search-in">
                <span class="category-fake UI-CATEGORY-TEXT"><?php echo $this->__('All') ?></span>
                <span class="nav-down-arrow"></span>
                <select name="index" class="category UI-CATEGORY">
                    <option value="0"><?php echo $this->__('All') ?></option>
                    <?php foreach ($this->getIndexes() as $_code => $_name): ?>
                    <option value="<?php echo $_code ?>" <?php if ($_currentIndex == $_code): ?>selected<?php endif ?>>
                        <?php echo $_name ?>
                    </option>
                    <?php endforeach ?>
                </select>
            </div>
        <?php endif ?>

 <div class="form-search">
    <div class="form-search2">
        <div class="form-search3">
            <div class="form-search4">
        <div class="nav-input UI-NAV-INPUT">
            <input class="input-text UI-SEARCH" id="search" type="text" autocomplete="off" name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" maxlength="<?php echo $_helper->getMaxQueryLength() ?>" />
        </div>
        
        <div class="searchautocomplete-loader UI-LOADER" style="display:none;"></div>

    </div>
    <div class="nav-submit-button">
        <button type="submit" id="cat-ser" title="<?php echo $this->__('Go') ?>" class="button"><span><span><?php echo $this->__('Go') ?></span></span></button>
    </div>
    <div style="display:none" class="searchautocomplete-placeholder UI-PLACEHOLDER"></div>
        </div>
        </div>
 </div>

    

    </div>
    
    <div style="display:none" class="searchautocomplete-placeholder UI-PLACEHOLDER"></div>
</form>

    <script type="text/javascript">
    jQuery(document).ready(function() {
    /********Start for category menu selected color***********/
    jQuery('.all-cat').hover(function(){
	jQuery(".all-cat").addClass("clickdown");
    },function(){
	jQuery(".all-cat").removeClass("clickdown");
    });
    
    jQuery('.all-cat').click(function(){
	jQuery(".all-cat").removeClass("clickdown");
    });
    
    jQuery("body").click(function(e){
        jQuery(".all-cat").removeClass("clickdown");
    });
    
    /********End for category menu selected color***********/
    });
    </script>