<?php if($this->displayDeliveryDate()): ?>
<li>
    <label for="shipping-deliverydate"><?php echo $this->__('Expected Delivery Date : ') ?></label>
    <div class="input-box">
        <?php
            $dates = $this->getDeliveryDateArrayOptions();
			$i = 1;
            foreach($dates as $date => $label):
				if($i == 1) {
        ?>
        	<span><?php echo $label; ?></span>
        	<input type="hidden" id="shipping-deliverydate" name="delivery_date" value="<?php echo $date; ?>" />
        <?php
				}
        		$i++;
            endforeach;
        ?>
    </div>
</li>
<?php else:?>
<li>
    <p><?php echo $this->__('Delivery dates are not available for this shipping method') ?></p>
    <input type="hidden" name="delivery_date" value=""/>
</li>
<?php endif ?>