<ul id="delivery-dates" class="form-list" style="display:none;">
<?php echo $this->getChildHtml(); ?>
</ul>
<span id="delivery-dates-please-wait" class="a-left" style="display:none;">
<img class="left" style="display:none;" title="<?php echo $this->__('Fetching available delivery dates...')?>" alt="<?php echo $this->__('Fetching available delivery dates...')?>" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif');?>">
<?php //echo $this->__('Fetching available delivery dates...')?>
</span>
<script type="text/javascript">
//<![CDATA[
var radioSelectorString = 'input[type="radio"][name="shipping_method"]';
$$(radioSelectorString).each(function(el){
	if (el.checked == true){
        var shippingCode = el.getValue();
 
        $$(radioSelectorString).each( function(el){ el.disable(); } );
        $('delivery-dates').hide();
        $('delivery-dates-please-wait').show();
 
            new Ajax.Request('<?php echo $this->getPostUrl() ?>', {
            method: 'post',
            parameters: { 'shipping_code': shippingCode },
            onSuccess: function(transport){ 
                var json = transport.responseText.evalJSON();
                Element.update('delivery-dates', json.dropdownhtml);
                $('delivery-dates-please-wait').hide();
                //$('delivery-dates').show();
                $$(radioSelectorString).each( function(el){ el.enable(); } );
            },
            onFailure: function(){ 
                $('delivery-dates-please-wait').hide();
                $$(radioSelectorString).each( function(el){ el.enable(); } );
            }
        });
    }
    
	Event.observe(el, 'click', function(){
        if (el.checked == true){
            var shippingCode = el.getValue();
 
            $$(radioSelectorString).each( function(el){ el.disable(); } );
            $('delivery-dates').hide();
            $('delivery-dates-please-wait').show();
 
            new Ajax.Request('<?php echo $this->getPostUrl() ?>', {
                method: 'post',
                parameters: { 'shipping_code': shippingCode },
                onSuccess: function(transport){ 
                    var json = transport.responseText.evalJSON();
                    Element.update('delivery-dates', json.dropdownhtml);
                    $('delivery-dates-please-wait').hide();
                    //$('delivery-dates').show();
                    $$(radioSelectorString).each( function(el){ el.enable(); } );
                },
                onFailure: function(){ 
                    $('delivery-dates-please-wait').hide();
                    $$(radioSelectorString).each( function(el){ el.enable(); } );
                }
            });
        }
    });
});
//]]>
</script>