<div class="trac-order-contener">
    <div class="page-title">
        <h1><?php echo $this->__('TRACK AN ORDER') ?></h1>
	 <p><?php echo $this->__('To see the status of an existing order, enter your order number and email address.') ?></p>
    </div>
    <div class="trac-order-div">
        <form action="<?php echo $this->getSearchUrl() ?>" name="ordstatus" id="" method="get" onsubmit="return chkOrd();">
                <div class="trac-or-content">                
		    <div class="order-track-con">
			<div class="left-top-r"></div>
			<div class="right-top-r"></div>
			<div class="left-bott-r"></div>
			<div class="right-bott-r"></div>
			<div class="track-order-form">
                    <ul class="form-list">
                        <li class="email-order">
                            <label for="pass" class="ord-no"><?php echo $this->__('YOUR ORDER NUMBER') ?></label>
                            <div class="input-box">
                                <input name="order_id" alt="order_id" type="text" id="order_id" class="input-text" value="Example: 12345678" onblur="if(this.value == '') { this.value='Example: 12345678'}" onfocus="if (this.value == 'Example: 12345678') {this.value=''}" />
				<span id="error_order_id"></span>
                            </div>
                        </li>
                        <li class="email-add">
                            <label for="email" class="email-or"><?php echo $this->__('Email Address:') ?></label>
                            <div class="input-box">
                                <input name="visitoremail" alt="visitoremail" type="text" id="email" class="validate-email  input-text" value=""  />
				<span id="error_email"></span>
                            </div>
                        </li>
			<li class="send-btn">
			 <button type="submit" class="button" title="<?php echo $this->__('Track Order') ?>" name="send" id="send2"><span><span><?php echo $this->__('Track') ?></span></span></button>
			</li>
                    </ul>
			</div>
		    </div>		    
                </div>
	</form>
	
	<?php if ('' != $this->getRequest()->getParam('visitoremail') && '' != $this->getRequest()->getParam('order_id')) { ?>
		<?php if (0 < count($this->getDeliveryStatus())) { ?>
			<?php $statusList = $this->getDeliveryStatus() ?>
				<fieldset>
					<label>Order Id : </label><strong><?php echo $statusList['order_id']; ?></strong>
				</fieldset>
				<fieldset>
					<label>Order Status : </label><strong><?php echo $statusList['order_status']; ?></strong>
				</fieldset>
				<table>
					<col width="30%" /><col width="30%" /><col width="30%" />
					<thead>
						<tr>
							<td><strong>Datetime</strong></td>
							<td><strong>Location</strong></td>
							<td><strong>Description</strong></td>
						</tr>
					</thead>
					<tbody>
			<?php foreach ($statusList['status_list'] as $item) { ?>
						<tr>
							<td><?php echo $item['activity_datetime'] ?></td>
							<td><?php echo $item['location'] ?></td>
							<td><?php echo $item['activity_description'] ?></td>
						</tr>
			<?php } ?>
					</tbody>
				</table>
		<?php } else { ?>
			<p class="error-msg">Result not found. Please make sure you type correct Order No and Email Address.</p>	
		<?php } ?>
	<?php } ?>
	
	<div class="order-content-label"><?php echo $this->__('For any order related enquiries, please contact our customer service support via') ?> +66-2264-6246 <?php echo $this->__('or') ?> <a href="<?php echo $this->getUrl();?>contacts"> www.cdiscount.co.th/contacts/ </a></div>
    </div>
   <script type="text/javascript">
   function chkOrd()
   {
      
      if(document.getElementById("email").value == "")
      {
	 document.getElementById("error_email").innerHTML="Please enter email address.";
	 document.getElementById("email").focus();
	 return false;
      }else{
	document.getElementById("error_email").innerHTML="";
      }
      
	if(document.getElementById("email").value != "")
	{
	    var x=document.getElementById("email").value;
	    var atpos=x.indexOf("@");
	    var dotpos=x.lastIndexOf(".");
	    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
	    {
	    //alert("Not a valid e-mail address");
	    document.getElementById("error_email").innerHTML="Not a valid e-mail address.";
	    return false;
	    }else{
		document.getElementById("error_email").innerHTML="";
	    }
	}
      
      if(document.getElementById("order_id").value == "")
      {
	 document.getElementById("error_order_id").innerHTML="Please enter order id.";
	 document.getElementById("order_id").focus();
	 return false;
      }else{
	document.getElementById("error_order_id").innerHTML="";
      }
      
      if(document.getElementById("order_id").value != "")
      {
	var z=document.getElementById("order_id").value;
	if(!z.match(/^\d+/))
	{
	document.getElementById("error_order_id").innerHTML="Numbers only, please!";
	document.getElementById("order_id").focus();
	return false;
	}else{
	    document.getElementById("error_order_id").innerHTML="";
	}
	
      }
      
      
      
      return true;
   }
</script>
</div>
