<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage
 * @author	   cherdchai Hinjumpa , cherdchai.h@marginframe.com
 * @website   http://www.marginframe.com
 */
 	$data= $this->getQuoteData() ;

?>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <div id="payment_form_<?php echo $_code ?>" style="display:none">
        <span>
            <?php
							//=> Get Select Or Default Channel & Agent Code
							$selectCode = $this->htmlEscape($this->getInfoData('po_number'));
							if ($selectCode =="") {
								$selectCode = trim(Mage::getStoreConfig('payment/Onetwothree/channelcode')) . "|" . trim(Mage::getStoreConfig('payment/Onetwothree/agentcode'));
							}

							//echo "<p>Default : " . $selectCode . "</p>";

							$_checkouttext = $this->__('You will be redirected to 1-2-3 Payment Gateway when you place an order.');
							if (Mage::getStoreConfig('payment/Onetwothree/checkouttext') !="") {
								$_checkouttext = Mage::getStoreConfig('payment/Onetwothree/checkouttext');
							}
			echo $_checkouttext;?>
        </span><br />
        <div id="tabContainer">
	        <div class="tabs">
			      <ul>
			        <li id="tabHeader_1"><strong><?php echo $this->__('Pay through direct debit');?></strong></li>
			        <li id="tabHeader_2"><strong><?php echo $this->__('Pay at over the counter');?></strong></li>
			        <li id="tabHeader_3"><strong><?php echo $this->__('Pay at ATM machine');?></strong></li>
			        <li id="tabHeader_4"><strong><?php echo $this->__('Pay at Bank Counter');?></strong></li>
			        <li id="tabHeader_5"><strong><?php echo $this->__('Pay at Internet Banking');?></strong></li>
			      </ul>
			    </div>
			    <div class="tabscontent">
			      <div class="tabpage" id="tabpage_1">
			        <ul style="list-style:none;">
								<li style="display:block;float:left;"><label for="webpay_scb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/SCB_Logo_40.jpg) no-repeat;width:118px;height:40px;"><input id="webpay_scb" value="WEBPAY|SCB" <?php echo ($selectCode=="WEBPAY|SCB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="The Siam Commercial Bank(SCB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="webpay_ktb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KTB_Logo_40.jpg) no-repeat;width:46px;height:40px;margin-left:10px;"><input id="webpay_ktb" value="WEBPAY|KTB" <?php echo ($selectCode=="WEBPAY|KTB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Krung Thai Bank(KTB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="webpay_tmb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/TMB_Logo_40.png) no-repeat;width:78px;height:40px;margin-left:10px;"><input id="webpay_tmb" value="WEBPAY|TMB" <?php echo ($selectCode=="WEBPAY|TMB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="TMB Bank Public Company Limited(TMB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="webpay_uob" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/UOB_Logo_40.png) no-repeat;width:105px;height:40px;margin-left:10px;"><input id="webpay_uob" value="WEBPAY|UOB" <?php echo ($selectCode=="WEBPAY|UOB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="United Overseas Bank(UOB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="webpay_bbl" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/bangkokbank_logo_40.png) no-repeat;width:132px;height:40px;margin-left:10px;"><input id="webpay_bbl" value="WEBPAY|BBL" <?php echo ($selectCode=="WEBPAY|BBL") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bangkok Bank PCL(BBL)"  class="radio"></label></li>
							</ul>
			      </div>
			      <div class="tabpage" id="tabpage_2">
			        <ul style="list-style:none;">
								<li style="display:block;float:left;"><label for="counter_bigc" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/BigC_logo_40.jpg) no-repeat;width:82px;height:40px;margin-left:0px;"><input id="counter_bigc" value="OVERTHECOUNTER|BIGC" <?php echo ($selectCode=="OVERTHECOUNTER|BIGC") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Big C Bill Payment @ Cashier"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="counter_tesco" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/TescoLotus_logo_40.jpg) no-repeat;width:82px;height:40px;margin-left:0px;"><input id="counter_tesco" value="OVERTHECOUNTER|TESCO" <?php echo ($selectCode=="OVERTHECOUNTER|TESCO") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Tesco Lotus(TESCO)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="counter_payatpost" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/Payatpost_logo_401.jpg) no-repeat;width:135px;height:40px;margin-left:10px;"><input id="counter_payatpost" value="OVERTHECOUNTER|PAYATPOST" <?php echo ($selectCode=="OVERTHECOUNTER|PAYATPOST") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Thailand Post(PAYATPOST)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="counter_true" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/Truemoney_Logo_40.jpg) no-repeat;width:88px;height:40px;margin-left:10px;"><input id="counter_true" value="OVERTHECOUNTER|TRUEMONEY" <?php echo ($selectCode=="OVERTHECOUNTER|TRUEMONEY") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="True Money Express(TRUEMONEY)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="counter_tot" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/JusPay_Logo_40.jpg) no-repeat;width:42px;height:40px;margin-left:10px;"><input id="counter_tot" value="OVERTHECOUNTER|TOT" <?php echo ($selectCode=="OVERTHECOUNTER|TOT") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Just Pay by TOT(TOT)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="counter_mpay" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/mpay_logo_40.png) no-repeat;width:40px;height:40px;margin-left:10px;"><input id="counter_mpay" value="OVERTHECOUNTER|MPAY" <?php echo ($selectCode=="OVERTHECOUNTER|MPAY") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="mPay Station by AIS (MPAY)"  class="radio"></label></li>
							</ul>
			      </div>
			      <div class="tabpage" id="tabpage_3">
			        <ul style="list-style:none;">
								<li style="display:block;float:left;"><label for="atm_kbank" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KBank_Logo_40.png) no-repeat;width:151px;height:40px;"><input id="atm_kbank" value="ATM|KBANK" <?php echo ($selectCode=="ATM|KBANK") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Kasikorn Bank(KBANK)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="atm_scb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/SCB_Logo_40.jpg) no-repeat;width:118px;height:40px;margin-left:10px;"><input id="atm_scb" value="ATM|SCB" <?php echo ($selectCode=="ATM|SCB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="The Siam Commercial Bank(SCB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="atm_ktb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KTB_Logo_40.jpg) no-repeat;width:46px;height:40px;margin-left:10px;"><input id="atm_ktb" value="ATM|KTB" <?php echo ($selectCode=="ATM|KTB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Krung Thai Bank(KTB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="atm_tmb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/TMB_Logo_40.png) no-repeat;width:78px;height:40px;margin-left:10px;"><input id="atm_tmb" value="ATM|TMB" <?php echo ($selectCode=="ATM|TMB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="TMB Bank Public Company Limited(TMB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="atm_uob" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/UOB_Logo_40.png) no-repeat;width:105px;height:40px;margin-left:10px;"><input id="atm_uob" value="ATM|UOB" <?php echo ($selectCode=="ATM|UOB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="United Overseas Bank(UOB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="atm_bay" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/BAY_Logo_40.jpg) no-repeat;width:62px;height:40px;margin-left:10px;"><input id="atm_bay" value="ATM|BAY" <?php echo ($selectCode=="ATM|BAY") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bank of Ayudhya(BAY)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="atm_bbl" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/bangkokbank_logo_40.png) no-repeat;width:132px;height:40px;margin-left:10px;"><input id="atm_bbl" value="ATM|BBL" <?php echo ($selectCode=="ATM|BBL") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bangkok Bank PCL(BBL)"  class="radio"></label></li>
							</ul>
			      </div>
			      <div class="tabpage" id="tabpage_4">
			        <ul style="list-style:none;">
								<li style="display:block;float:left;"><label for="bankct_kbank" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KBank_Logo_40.png) no-repeat;width:151px;height:40px;"><input id="bankct_kbank" value="BANKCOUNTER|KBANK" <?php echo ($selectCode=="BANKCOUNTER|KBANK") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Kasikorn Bank(KBANK)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="bankct_scb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/SCB_Logo_40.jpg) no-repeat;width:118px;height:40px;margin-left:10px;"><input id="bankct_scb" value="BANKCOUNTER|SCB" <?php echo ($selectCode=="BANKCOUNTER|SCB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="The Siam Commercial Bank(SCB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="bankct_ktb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KTB_Logo_40.jpg) no-repeat;width:46px;height:40px;margin-left:10px;"><input id="bankct_ktb" value="BANKCOUNTER|KTB" <?php echo ($selectCode=="BANKCOUNTER|KTB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Krung Thai Bank(KTB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="bankct_tmb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/TMB_Logo_40.png) no-repeat;width:78px;height:40px;margin-left:10px;"><input id="bankct_tmb" value="BANKCOUNTER|TMB" <?php echo ($selectCode=="BANKCOUNTER|TMB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="TMB Bank Public Company Limited(TMB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="bankct_uob" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/UOB_Logo_40.png) no-repeat;width:105px;height:40px;margin-left:10px;"><input id="bankct_uob" value="BANKCOUNTER|UOB" <?php echo ($selectCode=="BANKCOUNTER|UOB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="United Overseas Bank(UOB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="bankct_bay" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/BAY_Logo_40.jpg) no-repeat;width:62px;height:40px;margin-left:10px;"><input id="bankct_bay" value="BANKCOUNTER|BAY" <?php echo ($selectCode=="BANKCOUNTER|BAY") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bank of Ayudhya(BAY)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="bankct_bbl" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/bangkokbank_logo_40.png) no-repeat;width:132px;height:40px;margin-left:10px;"><input id="bankct_bbl" value="BANKCOUNTER|BBL" <?php echo ($selectCode=="BANKCOUNTER|BBL") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bangkok Bank PCL(BBL)"  class="radio"></label></li>
							</ul>
			      </div>
			      <div class="tabpage" id="tabpage_5">
			        <ul style="list-style:none;">
								<li style="display:block;float:left;"><label for="ibank_kbank" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KBank_Logo_40.png) no-repeat;width:151px;height:40px;"><input id="ibank_kbank" value="IBANKING|KBANK" <?php echo ($selectCode=="IBANKING|KBANK") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Kasikorn Bank(KBANK)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="ibank_scb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/SCB_Logo_40.jpg) no-repeat;width:118px;height:40px;margin-left:10px;"><input id="ibank_scb" value="IBANKING|SCB" <?php echo ($selectCode=="IBANKING|SCB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="The Siam Commercial Bank(SCB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="ibank_ktb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/KTB_Logo_40.jpg) no-repeat;width:46px;height:40px;margin-left:10px;"><input id="ibank_ktb" value="IBANKING|KTB" <?php echo ($selectCode=="IBANKING|KTB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Krung Thai Bank(KTB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="ibank_tmb" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/TMB_Logo_40.png) no-repeat;width:78px;height:40px;margin-left:10px;"><input id="ibank_tmb" value="IBANKING|TMB" <?php echo ($selectCode=="IBANKING|TMB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="TMB Bank Public Company Limited(TMB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="ibank_uob" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/UOB_Logo_40.png) no-repeat;width:105px;height:40px;margin-left:10px;"><input id="ibank_uob" value="IBANKING|UOB" <?php echo ($selectCode=="IBANKING|UOB") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="United Overseas Bank(UOB)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="ibank_bay" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/BAY_Logo_40.jpg) no-repeat;width:62px;height:40px;margin-left:10px;"><input id="ibank_bay" value="IBANKING|BAY" <?php echo ($selectCode=="IBANKING|BAY") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bank of Ayudhya(BAY)"  class="radio"></label></li>
								<li style="display:block;float:left;"><label for="ibank_bbl" style="display:block;background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>123logo/bangkokbank_logo_40.png) no-repeat;width:132px;height:40px;margin-left:10px;"><input id="ibank_bbl" value="IBANKING|BBL" <?php echo ($selectCode=="IBANKING|BBL") ? " checked=\"checked\"" : "";?> type="radio" name="payment[po_number]" title="Bangkok Bank PCL(BBL)"  class="radio"></label></li>
							</ul>
			      </div>
			    </div>
        </div>

    </div>
</fieldset>
<script type="text/javascript">
//<![CDATA[
  // get tab container
  var container = document.getElementById("tabContainer");
    // set current tab
    var navitem = container.querySelector(".tabs ul li");
    //store which tab we are on
    var ident = navitem.id.split("_")[1];
    navitem.parentNode.setAttribute("data-current",ident);
    //set current tab with class of activetabheader
    navitem.setAttribute("class","tabActiveHeader");

    //hide two tab contents we don't need
    var pages = container.querySelectorAll(".tabpage");
    for (var i = 1; i < pages.length; i++) {
      pages[i].style.display="none";
    }

    //this adds click event to tabs
    var tabs = container.querySelectorAll(".tabs ul li");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].onclick=displayPage;
    }

// on click of one of tabs
function displayPage() {
  var current = this.parentNode.getAttribute("data-current");
  //remove class of activetabheader and hide old contents
  document.getElementById("tabHeader_" + current).removeAttribute("class");
  document.getElementById("tabpage_" + current).style.display="none";

  var ident = this.id.split("_")[1];
  //add class of activetabheader to new active tab and show contents
  this.setAttribute("class","tabActiveHeader");
  document.getElementById("tabpage_" + ident).style.display="block";
  this.parentNode.setAttribute("data-current",ident);
}
//]]>
</script>