<?php
    $curUrl = basename($this->helper('core/url')->getCurrentUrl());
    $SeeVideoUrl = basename($this->getUrl("how-to-make-order"));
    $shippingpolicy = basename($this->getUrl("shipping-policy"));
    $paymentmethod = basename($this->getUrl("payment-methods"));
    $useavoucher = basename($this->getUrl("use-a-voucher"));
    $consumerpolicy = basename($this->getUrl("consumer-policy"));
    $returnrefund = basename($this->getUrl("return-refund"));
    $warrentyproduct = basename($this->getUrl("warranty-product"));
    $companyorganizationchart = basename($this->getUrl("company-organization-chart"));
    $history = basename($this->getUrl("history"));
    $PrivacyUrl = basename($this->getUrl("privacy-policy"));
    $termsconditions = basename($this->getUrl("term-and-conditions"));
    $workwithus = basename($this->getUrl("work-with-us"));
    $faq = basename($this->getUrl("faq"));?>

    
<div class="cms-left">
<div class="cms-blog">
<div class="cms-blog-title first">
<h1>How to Order</h1>
</div>
<ul>
<?php if($curUrl == $SeeVideoUrl){?>
<li class="active"><a href="<?php echo $this->getUrl()?>how-to-make-order">How to Order</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>how-to-make-order">How to order</a></li>
<?php }?>

<?php if($curUrl == $shippingpolicy){?>
<li class="active"><a href="<?php echo $this->getUrl()?>shipping-policy">Shipping policy</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>shipping-policy">Shipping policy</a></li>
<?php }?>

<?php if($curUrl == $paymentmethod){?>
<li class="active"><a href="<?php echo $this->getUrl()?>payment-methods">Payment methods</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>payment-methods">Payment methods</a></li>
<?php }?>

<?php if($curUrl == $useavoucher){?>
<li class="active"><a href="<?php echo $this->getUrl()?>use-a-voucher">Use a voucher</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>use-a-voucher">Use a voucher</a></li>
<?php }?>

</ul>
</div>
<div class="cms-blog">
<div class="cms-blog-title">
<h1>Customer Service</h1>
</div>
<ul>
<?php if($curUrl == $returnrefund){?>
<li class="active"><a href="<?php echo $this->getUrl()?>return-refund">Return &amp; refund policy</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>return-refund">Return &amp; refund policy</a></li>
<?php }?>

<?php if($curUrl == $warrentyproduct){?>
<li class="active"><a href="<?php echo $this->getUrl()?>warranty-product">Warranty of products</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>warranty-product">Warranty of products</a></li>
<?php }?>

<?php if($curUrl == $faq){?>
<li class="active"><a href="<?php echo $this->getUrl()?>faq">FAQ</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>faq">FAQ</a></li>
<?php }?>

</ul>
</div>
<div class="cms-blog">
<div class="cms-blog-title">
<h1>About Cdiscount</h1>
</div>
<ul>
    
<?php if($curUrl == $history){?>
<li class="active"><a href="<?php echo $this->getUrl()?>history">History</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>history">History</a></li>
<?php }?>

<?php if($curUrl == $companyorganizationchart){?>
<li class="active"><a href="<?php echo $this->getUrl()?>company-organization-chart">Company organization chart</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>company-organization-chart">Company organization chart</a></li>
<?php }?>

<?php if($curUrl == $consumerpolicy){?>
<li class="active"><a href="<?php echo $this->getUrl()?>consumer-policy">Consumer policy</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>consumer-policy">Consumer policy</a></li>
<?php }?>

<?php if($curUrl == $PrivacyUrl){?>
<li class="active"><a href="<?php echo $this->getUrl()?>privacy-policy">Privacy policy</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>privacy-policy">Privacy policy</a></li>
<?php }?>

<?php if($curUrl == $termsconditions){?>
<li class="active"><a href="<?php echo $this->getUrl()?>term-and-conditions">Terms &amp; Conditions</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>term-and-conditions">Terms &amp; Conditions</a></li>
<?php }?>

<?php if($curUrl == $workwithus){?>
<li class="active"><a href="<?php echo $this->getUrl()?>work-with-us">Work with us</a></li>
<?php } else {?>
<li><a href="<?php echo $this->getUrl()?>work-with-us">Work with us</a></li>
<?php }?>

</ul>
</div>
</div>
