<!--top-banner-->
<div class="top-banner-contener">
  <div class="top-bann">
    <div class="cate-left">
      
      <div class="cate-heading">
		<h2><?php echo $this->__('Shop by category')?></h2>
      </div>
      
      <?php /* category Display Start */?>
      <div class="cate-conte">
	<ul>
	  <?php $allCats = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addOrderField('position');
		$i=1;foreach($allCats as $category){
		if($category->getParentId() ==  Mage::app()->getStore()->getRootCategoryId() && $category->getIsActive()  && $category->getDoNotDisplayCategory() == 0){
		  $category  =  Mage::getModel('catalog/category')->load($category->getId());
		  ?>
	  <li class="mobile-tab<?php echo $i;?>"> <span class="hel-icon"><a href="<?php echo $category->getUrl()?>"><span class="cat_img"><img src="<?php echo  Mage::getBaseUrl('media').'catalog/category/'.$category->getThumbnail()?>" alt="<?php echo $category->getThumbnail()?>" title="<?php echo $category->getThumbnail()?>" /></span><span><?php echo $category->getName();?></span></a><span class="border-hv"></span></span> 
	  <div class="sub_cat">
	    <div class="sub_third_image">
	      <?php if($category['custom_url'] !=''){?>
	    <a href="<?php echo $category['custom_url']?>"><img src="<?php echo  Mage::getBaseUrl('media').'catalog/category/'.$category->getImage()?>" alt="<?php echo $category->getThumbnail()?>" title="<?php echo $category->getImage()?>" /></a>
	    <?php } else {?>
	    <img src="<?php echo  Mage::getBaseUrl('media').'catalog/category/'.$category->getImage()?>" alt="<?php echo $category->getThumbnail()?>" title="<?php echo $category->getImage()?>" />
	    <?php }?>
	    <?php $subcats = $category->getChildren();
		  $total_cat_array=explode(',',$subcats);?>
		  <div class="sub_third">
		    <?php $_columnCountcat = 2;
		    $_columnCountlast = 1;
		    $Count=0; $customcls=1;
		    foreach($total_cat_array as $subId){
		      $child = Mage::getModel('catalog/category')->load($subId);
		    if ($Count++%$_columnCountcat==0){?>
		    <div class="column-div <?php if($_columnCountlast == 3){ echo "last";}?> nxtcol<?php echo $customcls?>">
		    <?php $_columnCountlast++; }?>
		    <div class='extra-column-div'>
		      <h1><a href="<?php echo $child->getUrl()?>"><?php echo $child->getName(); ?></a></h1>
		      <?php $_columnCountUl = 4;
		      $Cnt=0;
		      $thirdChilcat = $child->getChildren();
		      $Third_cat_array=explode(',',$thirdChilcat);
		     $Ulcls = 1;foreach($Third_cat_array as $Third_cat){
		      $Thirdchild = Mage::getModel('catalog/category')->load($Third_cat);
		      if ($Cnt++%$_columnCountUl==0){?>
		      <ul class="sub_cat_arr ulcls<?php echo $Ulcls?>">
			<?php }?>
			<li>
			  <a href="<?php echo $Thirdchild->getUrl()?>">
			  <span><?php echo $Thirdchild->getname();?></span>
			  </a>
			</li>
		      <?php if ($Cnt%$_columnCountUl==0 || $Cnt==$_columnCountUl){?>
		      </ul>
		      <?php 
		      }
		      $Ulcls++;
		      }?>
		    </div>
		      <?php if ($Count%$_columnCountcat==0 || $Count==$_columnCountcat){?>
		  </div>
		  <?php }?>
		  <?php $customcls++;
		  }  ?>
		  </div>
	    </div>
	  </div>
	  </li>
	  <?php $i++;
	  } }?>
	  
	</ul>
      </div>
      <?php /* category Display End */?>
    </div>
    
    <?php /*   Start for banner display   */ ?>
    <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('.nav-bann li').hover(function(){
	
      var tmpUrl = jQuery(this).find(".smallbigimg").attr('src');
      jQuery(".bigimg").attr("src", tmpUrl);
      
      var tmphrefUrl = jQuery(this).find(".bannerurllink").val();
      jQuery(".bigurl").attr("href", tmphrefUrl);
	
	jQuery('.nav-bann li').removeClass('active');
	jQuery(this).addClass('active');
      });
      
      
    var firstImg=jQuery("#firstImage").val();
    jQuery('.bigimg').attr({'src':firstImg});
      
    });
    
    
    
    </script>
    <div class="banner-cont">
      <div class="banner-left"><a class="bigurl" href="#"><img class="bigimg" src="" alt=""/></a></div>
      <div class="banner-nav">
	<ul class="nav-bann">
	  
	  <?php
	  $currentStoreId=Mage::app()->getStore()->getStoreId();
	  $collection = Mage::getModel('homebanner/homebanner')->getCollection();
	  //$collection->setPageSize(4);
	  $cnt=0;
	  $count=count($collection);
	  
	  foreach ($collection as $item) {
	  if($item->getStoreId() == $currentStoreId) {
	  $cnt++;
	  $bigImage=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$item->getfilename();
	  $bannerUrl=$item->getbannerurl();
	  
	  if(($cnt-1)%$count==0){
	    $firstImageUrl=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$item->getfilename();
	  }
	  ?>
	  <li class="<?php if(($cnt-1)%$count==0): ?>fast active<?php elseif($cnt%$count==0): ?> last<?php endif; ?>" onclick="_gaq.push(['_trackEvent', 'HP', 'Central', 'Offer_<?php echo $cnt;?>']); window.location='<?php echo $item->getbannerurl(); ?>'">
	  <input type="hidden" id="firstImage" name="firstImage" value="<?php echo $firstImageUrl; ?>" />
	  
	  <img src="<?php echo $bigImage; ?>" class="smallbigimg" alt="" style="display:none;" />
	  <input type="hidden" name="bannerurllink" class="bannerurllink" value="<?php echo $bannerUrl; ?>" />
	  
	    <div class="bann-co">
	      <div class="bann-icon"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$item->getthumbnail()?>" width="94" height="74" alt=""/></div>
	      <div class="bann-text">
		<span class="sm-text">
		  <?php
		    $stringThumbText1=$item['thumbnail_text1'];
		    //echo Mage::helper('core/string')->truncate($stringThumbText1, 12);
			echo $stringThumbText1;
		  ?>
		</span>
		<span class="sm-text2">
		  
		  <?php
		  $stringThumbText2=$item['thumbnail_text2'];
		  //echo Mage::helper('core/string')->truncate($stringThumbText2, 12);
		  echo $stringThumbText2;
		  ?>
		</span>
	      </div>
	    </div>
	  </li>
	  <?php } }?>
	</ul>
      </div>
    </div>
  </div>
    <?php /*   End for banner display   */ ?>
</div>
    <!--end-top-banner-->
      <?php /*?><div class="sell-bann-con">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sell_left')->toHtml(); ?>
            <div class="sell-right">
              <div class="email-sub">
                <div class="email-con">
                  <div class="sign-up"><img src="<?php echo $this->getSkinUrl()?>images/sign-up-now.png" alt=""/></div>
                  <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml')->toHtml(); ?>
                </div>
              </div>
              <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product-banner-eng')->toHtml(); ?>
            </div>
        </div><?php */?>
        <style>
			.email-sub {
				width:480px; height:162px;
			}
			.sell-bann2 {
				height:173px;
			}
		</style>
        <div class="sell-bann-con">
        	<div class="sell-left">
                <div class="sell-bann1"><img alt="" src="<?php echo $this->getSkinUrl() ?>images/banner05.jpg"></div>
                <div class="email-sub">
                	<div class="email-con">
                    	<div class="sign-up"><img src="<?php echo $this->getSkinUrl()?>images/sign-up-now.png" alt=""/></div>
                        <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml')->toHtml(); ?>
                    </div>
              	</div>	
            </div>
            <div class="sell-right">
            	<div class="sell-bann2"><a href="http://www.cdiscount.co.th/fashion-beauty/apparel-accessories/optical-sunglasses.html?manufacturer=3895"><img alt="rayban" src="<?php echo $this->getSkinUrl() ?>images/rayban.png"></a></div>
            	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product-banner-eng')->toHtml(); ?>
            </div>
        </div>
    <div class="prod-list-con">
      <div class="today-product-con">
	<?php /******************** Today's Deal Start *****************************/?>
	<?php
	$_category = Mage::getModel('catalog/category')->load(91);
	?>
	<script type="text/javascript">
	function mainImgChangeTodayDeal(confId,simpleUrl)
	  {
	    jQuery('.mainToday'+confId).attr({'src':simpleUrl});
	  }
	</script>
        <div class="prd-stock-last">
          <div class="prod-title">
            <div class="today-tag"></div>
            <h2><?php echo $this->__('A steal of a deal every day. Only from ')?><span><?php echo $this->__('Cdiscount !! ')?></span></h2>
	  </div>
        </div>
	<?php 
	  $_todaysProductCollection = Mage::getResourceModel('catalog/product_collection')
	  ->addAttributeToSelect('*')
	  ->addCategoryFilter($_category)
	  ->addAttributeToSort('created_at','DESC')
	  ->addAttributeToFilter('status', 1)//enabled
	  ->addAttributeToFilter('visibility', 4)
	  ->addAttributeToSelect('is_active');
	  
	  $_todaysProductCollection->load();
	  $_columnCountToday = 3;
	  $todayCnt=0;
	  foreach($_todaysProductCollection as $_todayproduct){
	  $_todayproduct = Mage::getModel('catalog/product')->load($_todayproduct->getId());?>
	  <?php if ($todayCnt++%$_columnCountToday==0): ?>
	  <ul class="products-grid today-product-list">
	  <?php endif ?>
	    <script type="text/javascript">
	    jQuery(document).ready(function(){
	    jQuery('.mark'+<?php echo $_todayproduct->getId(); ?>).hover(function() {jQuery('.icontent'+<?php echo $_todayproduct->getId(); ?>).show()}, function() {jQuery('.icontent'+<?php echo $_todayproduct->getId(); ?>).hide()});
	    });
	    </script>
	    <style>
		.save-cate {
			right:65px !important;
		}
		.save-cate .amlabel-txt .save-tag1 {
			font: 900 46px/46px Arial,Gadget,sans-serif !important;
			text-align:center !important;
			margin-top:4px !important;
		}
		@-moz-document url-prefix() {
     		.save-cate {
				right:0px !important;
        	}
     	}
		</style>
        
	    <?php
		$_specialpriceIncludingTax = Mage::helper('tax')->getPrice($_todayproduct, $_todayproduct->getFinalPrice());
		$specialPrice=number_format($_specialpriceIncludingTax, 0);
		$_priceIncludingTax = Mage::helper('tax')->getPrice($_todayproduct, $_todayproduct->getPrice());
		$mainPrice=number_format($_priceIncludingTax, 0);
		$todaySavePriceFormat=$_priceIncludingTax-$_specialpriceIncludingTax;
		$todaySavePrice=number_format($todaySavePriceFormat, 0);
		
		$discountPrice=($_priceIncludingTax - $_specialpriceIncludingTax)/$_priceIncludingTax*100;
		$discountPrice=number_format($discountPrice, 0);
                $chkSpecialPrice = $_todayproduct->getSpecialPrice();
		$ProductcaptionStockLast=$_todayproduct->getProductcaption();
	    ?>
          <li class="item <?php if(($todayCnt-1)%$_columnCountToday==0): ?> first<?php elseif($todayCnt%$_columnCountToday==0): ?> last<?php endif; ?> mark<?php echo $_todayproduct->getId(); ?>"><!-- enterprise/cdiscount-en/template/custompage/home.phtml [today deal]-->
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
            <div class="pro-mid-con">
	    <div class="save-cate">
        	<?php
				$mycate = false;
				foreach($_todayproduct->getCategoryCollection()->getData('category_id') as $arr)
				{
					//if($arr['entity_id']=="52" && count($arr['entity_id'])>0)
					if($arr['entity_id']=="157" && count($arr['entity_id'])>0)
					{
						$mycate = true;	
					}
				}
				
				if($_todayproduct->getMarkupPrice()>0 && $_todayproduct->getMarkupPrice()!="")
				{	
					$markupPrice = $_todayproduct->getMarkupPrice();
					$percent = ceil((($markupPrice-$_todayproduct->getFinalPrice())*100)/$markupPrice);
					$mainPriceShow = $_todayproduct->getFinalPrice();
				}else{	
					$markupPrice = $_todayproduct->getFinalPrice()+($_todayproduct->getFinalPrice()*0.05);
					$percent = '5';
					$mainPriceShow = $_todayproduct->getFinalPrice();
				}	
				$SavePriceShow = $markupPrice-$mainPriceShow; ?>
<?php		if(!$mycate)
			{	?>                
			<?php //echo Mage::helper('amlabel')->getLabels($_todayproduct) ?>
            <table style="height:41px; width:75px; " class="amlabel-table top-right" onclick="window.location='<?php echo $_todayproduct->getProductUrl() ?>'"><tbody><tr><td><span style="background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>amlabel/bg-discount.png)" class="custom-image-label"><span class="amlabel-txt" style="width:100px; padding:8px 0 5px 5px;"><span class="save-tag1"><?php echo $percent; ?></span></span></span></td></tr></tbody></table>
<?php		}	?>            
        </div>
	    <a href="<?php echo $_todayproduct->getProductUrl()?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_todayproduct, 'small_image')->resize(275,225); ?>" alt="" class="mainToday<?php echo $_todayproduct->getId(); ?>" /> </a>
              <div class="prod-name-head">
                <?php if($discountPrice > 0) { ?><div class="prod-caption">UP TO <?php echo $discountPrice; ?>% DISCOUNT ON </div><?php } ?>
                
		<?php /*?><div class="prod-caption"><?php echo $ProductcaptionStockLast; ?></div><?php */?>
		<h2 class="product-name">
		  <a href="<?php echo $_todayproduct->getProductUrl()?>">
		    <?php
		    echo Mage::helper('core/string')->truncate($_todayproduct->getName(), 40);
		    /* $nameLimit = 35;
		    $nameCount = strlen($_todayproduct->getName());
			$nameWord = str_word_count($_todayproduct->getName(),2);
			foreach($nameWord as $attr => $value)
			{
				if($attr<$nameLimit)
				{
					echo $value.' ';
				}
			} */
			?>
		  </a>
		</h2>
              </div>
	      <?php /*?><?php if($chkSpecialPrice > 0) { ?>
		  <div class="price-box">
		    <p class="old-price">
		      <?php if($chkSpecialPrice > 0) { ?>
		      <span class="price-label"><?php echo $this->__('was')?></span>
		      <span class="price"><?php echo $mainPrice; ?></span>
		      <?php } else { ?>
		      &nbsp;
		      <?php } ?>
		    </p>
		    <p class="special-price"> <span class="price"><?php echo $specialPrice; ?><span class="price-sy"><?php echo $this->__('B')?></span> </span> </p>
		  </div>
		  <?php if($todaySavePrice > 0) { ?><div class="save-bg"><span class="save-text"><?php echo $this->__('save: ')?></span><span class="save-price"><?php echo $todaySavePrice; ?></span></div> <?php } ?>
		  <?php } else { ?> 
		  <div class="price-box">
		    <p class="old-price">&nbsp;
		      
		    </p>
		    <p class="special-price">
		      <span class="price">
			<?php echo $mainPrice; ?><span class="price-sy"><?php echo $this->__('B')?></span>
		      </span>
		    </p>
		  </div>
		  <?php } ?><?php */?>
<?php			if($mycate)
				{		?>
                    	<div class="price-box">
                        	<p class="old-price"><span class="price-label">&nbsp;</span></p>
                        	<p class="special-price"> 
                            	<span class="price">
									<?php echo number_format($mainPriceShow,0); ?>
                                	<span class="price-sy"><?php echo $this->__('B')?></span>
                                </span>
                            </p>
                        </div>
<?php			}else{	?>           
          		<div class="price-box">
                	<p class="old-price"> <span class="price-label"><?php echo $this->__('was')?></span> <span class="price"><?php echo number_format($markupPrice,0); ?></span> </p>
                  	<p class="special-price"> <span class="price"><?php echo number_format($mainPriceShow,0); ?><span class="price-sy"><?php echo $this->__('B')?></span> </span> </p>
              	</div>
                <div class="save-bg"><span class="save-text"><?php echo $this->__('save: ')?></span><span class="save-price"><?php echo number_format($SavePriceShow,0); ?></span></div>
<?php			}		?>          		
            </div>
	    
          </li>
	  <?php if ($todayCnt%$_columnCountToday==0 || $todayCnt==$_columnCountToday): ?>
	  </ul>
	  <?php endif ?>
	  <?php }?>
	<?php /******************** End Today's Deal End *****************************/?>
      </div>
      <?php /********************Stock last Start *****************************/?>
            <div class="prod-cate-last-sale">
	      <?php
	      $_categorystocklast = Mage::getModel('catalog/category')->load(92);
	      ?>
              <div class="prd-stock-last">
                <div class="prod-title">
                  <div class="to-day-tag">&nbsp; </div>
                  <h2><?php echo $this->__('offer expires soon!')?></h2>
		</div>
              </div>
	      
	      <script type="text/javascript">
		function mainImgChangeStock(confId,simpleUrl)
		{
		  jQuery('.mainStock'+confId).attr({'src':simpleUrl});
		}
	      </script>
	      
	      	
	  <?php 
	  $_stocklastProductCollection = Mage::getResourceModel('catalog/product_collection')
	  ->addAttributeToSelect('*')
	  ->addCategoryFilter($_categorystocklast)
	  ->addAttributeToSort('created_at','DESC')
	  ->addAttributeToFilter('status', 1)//enabled
	  ->addAttributeToFilter('visibility', 4)
	  ->addAttributeToSelect('is_active');
	  $_stocklastProductCollection->load();
	  $_columnCountStock = 3;
	  $stockCnt=0;
	  foreach($_stocklastProductCollection as $_stocklastproduct){
	  $_stocklastproduct = Mage::getModel('catalog/product')->load($_stocklastproduct->getId());
	  ?>
	  <script type="text/javascript">
	    jQuery(document).ready(function(){
	    jQuery('.marks'+<?php echo $_stocklastproduct->getId(); ?>).hover(function() {
	      jQuery('.icontents'+<?php echo $_stocklastproduct->getId(); ?>).show();
	      }, function() {
		jQuery('.icontents'+<?php echo $_stocklastproduct->getId(); ?>).hide();
		});
	    });
	    </script>
	  <?php if ($stockCnt++%$_columnCountStock==0): ?>
          <ul class="products-grid product-stock">
	  <?php endif ?>
	  <?php
	    $_specialpriceIncludingTaxStock = Mage::helper('tax')->getPrice($_stocklastproduct, $_stocklastproduct->getFinalPrice());
	    $specialPriceStock=number_format($_specialpriceIncludingTaxStock, 0);
	    $_priceIncludingTaxStock = Mage::helper('tax')->getPrice($_stocklastproduct, $_stocklastproduct->getPrice());
	    $mainPriceStock=number_format($_priceIncludingTaxStock, 0);
	    $stocklastSavePriceFormatStock=$_priceIncludingTaxStock-$_specialpriceIncludingTaxStock;
	    $stocklastSavePrice=number_format($stocklastSavePriceFormatStock, 0);
	    $discountPriceStocklast=($_priceIncludingTax - $_specialpriceIncludingTax)/$_priceIncludingTax*100;
	    $ProductcaptionStockLast=$_stocklastproduct->getProductcaption();
            $chkSpecialPrice = $_stocklastproduct->getSpecialPrice();
	    ?>
            <li class="item <?php if(($stockCnt-1)%$_columnCountStock==0): ?> first<?php elseif($stockCnt%$_columnCountStock==0): ?> last<?php endif; ?> marks<?php echo $_stocklastproduct->getId(); ?>"><!-- enterprise/cdiscount-en/template/custompage/home.phtml [while stock last]-->
                  <div class="box-top-shadow">
                    <div class="top-sh-left">&nbsp; </div>
                    <div class="top-sh-midd">&nbsp;</div>
                    <div class="top-sh-right">&nbsp;</div>
                  </div>
                  <div class="box-left-shadow">
                    <div class="left-sh-top">&nbsp; </div>
                    <div class="left-sh-mid">&nbsp;</div>
                    <div class="left-sh-btom">&nbsp;</div>
                  </div>
                  <div class="box-right-shadow">
                    <div class="right-sh-top">&nbsp;</div>
                    <div class="right-sh-mid">&nbsp;</div>
                    <div class="right-sh-btom">&nbsp;</div>
                  </div>
                  <div class="iteam-bottom">
                    <div class="left-bot-sh">&nbsp;</div>
                    <div class="mid-bot-sh">&nbsp;</div>
                    <div class="right-bot-sh">&nbsp;</div>
                  </div>
                  <div class="pro-mid-con">
                  <div class="save-cate">
                  	<?php
					$mycate = false;
					foreach($_stocklastproduct->getCategoryCollection()->getData('category_id') as $arr)
					{
						//if($arr['entity_id']=="52" && count($arr['entity_id'])>0)
						if($arr['entity_id']=="157" && count($arr['entity_id'])>0)
						{
							$mycate = true;	
						}
					}
					
					if($_stocklastproduct->getMarkupPrice()>0 && $_stocklastproduct->getMarkupPrice()!="")
					{	
						$markupPrice = $_stocklastproduct->getMarkupPrice();
						$percent = ceil((($markupPrice-$_stocklastproduct->getFinalPrice())*100)/$markupPrice);
						$mainPriceShow = $_stocklastproduct->getFinalPrice();
					}else{	
						$markupPrice = $_stocklastproduct->getFinalPrice()+($_stocklastproduct->getFinalPrice()*0.05);
						$percent = '5';
						$mainPriceShow = $_stocklastproduct->getFinalPrice();
					}	
					$SavePriceShow = $markupPrice-$mainPriceShow; ?>
<?php		if(!$mycate)
			{	?>                    
				  	<?php //echo Mage::helper('amlabel')->getLabels($_stocklastproduct) ?>
                    <table style="height:41px; width:75px; " class="amlabel-table top-right" onclick="window.location='<?php echo $_stocklastproduct->getProductUrl() ?>'"><tbody><tr><td><span style="background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>amlabel/bg-discount.png)" class="custom-image-label"><span class="amlabel-txt" style="width:100px; padding:8px 0 5px 5px;"><span class="save-tag1"><?php echo $percent; ?></span></span></span></td></tr></tbody></table>
<?php		}	?>                    
                  </div>
                    <a href="<?php echo $_stocklastproduct->getProductUrl()?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_stocklastproduct, 'small_image')->resize(275,225); ?>" alt="" class="mainStock<?php echo $_stocklastproduct->getId(); ?>"/></a>
                    <div class="prod-name-head">
                      <h2 class="product-name">
			<a href="<?php echo $_stocklastproduct->getProductUrl()?>">
			  <?php
			  echo Mage::helper('core/string')->truncate($_stocklastproduct->getName(), 40);
			/* $nameLimit = 35;
		    $nameCount = strlen($_stocklastproduct->getName());
			$nameWord = str_word_count($_stocklastproduct->getName(),2);
			foreach($nameWord as $attr => $value)
			{
				if($attr<$nameLimit)
				{
					echo $value.' ';
				}
			} */
			  ?>
			</a>
		      </h2>
                      <div class="prod-caption"><?php echo $ProductcaptionStockLast; ?></div>
                    </div>
                  
		  <?php /*?><?php if($chkSpecialPrice > 0) { ?>
                    <div class="price-box">
                      <p class="old-price">
			<?php if($chkSpecialPrice > 0) { ?>
			<span class="price-label"><?php echo $this->__('was')?></span>
			<span class="price"><?php echo $mainPriceStock; ?></span>
			<?php } else { ?>
			&nbsp;
			<?php } ?>
		      </p>
                      <p class="special-price"> <span class="price"><?php echo $specialPriceStock; ?><span class="price-sy"><?php echo $this->__('B')?></span> </span> </p>
                    </div>
		    
                    <?php if($stocklastSavePrice > 0) { ?><div class="save-bg"><span class="save-text"><?php echo $this->__('save: ')?></span><span class="save-price"><?php echo $stocklastSavePrice; ?></span></div> <?php } ?> 
		  <?php } else { ?>
		  <div class="price-box">
		    <p class="old-price">&nbsp;
		      
		    </p>
		    <p class="special-price">
		      <span class="price">
			<?php echo $mainPriceStock; ?><span class="price-sy"><?php echo $this->__('B')?></span>
		      </span>
		    </p>
		  </div>
		  <?php } ?><?php */?>
<?php			if($mycate)
				{		?>
                    	<div class="price-box">
                        	<p class="old-price"><span class="price-label">&nbsp;</span></p>
                        	<p class="special-price"> 
                            	<span class="price">
									<?php echo number_format($mainPriceShow,0); ?>
                                	<span class="price-sy"><?php echo $this->__('B')?></span>
                                </span>
                            </p>
                        </div>
<?php			}else{	?>           
          			<div class="price-box">
                        <p class="old-price"> <span class="price-label"><?php echo $this->__('was')?></span> <span class="price"><?php echo number_format($markupPrice,0); ?></span> </p>
                        <p class="special-price"> <span class="price"><?php echo number_format($mainPriceShow,0); ?><span class="price-sy"><?php echo $this->__('B')?></span> </span> </p>
                    </div>
                    <div class="save-bg"><span class="save-text"><?php echo $this->__('save: ')?></span><span class="save-price"><?php echo number_format($SavePriceShow,0); ?></span></div>
<?php			}		?>                  	
                  </div>
                </li>
	  <?php if ($stockCnt%$_columnCountStock==0 || $stockCnt==$_columnCountStock): ?>
	  </ul>
	  <?php endif ?>
	  <?php }?>
            </div>
	    <?php /********************Stock last Banner start *****************************/?>
	    <div class="stocklastbanner-container">
	      <?php
	       $StocklastBannerCol = Mage::getModel('homecategorybanner/homecategorybanner')->getCollection();
		$stockStoreId=Mage::app()->getStore()->getStoreId();?>
		<?php  $_columnCountstocklastBanner = 3; $stocklastBannerCnt=0;
		foreach($StocklastBannerCol as $StocklastBanner){
		  if($StocklastBanner->getStoreId() == $stockStoreId){
		  if($StocklastBanner['category_id']==92 && $StocklastBanner['status']== 1){?>
	    <?php if ($stocklastBannerCnt++%$_columnCountstocklastBanner==0): ?>
	      <ul class="products-grid product-stock clearbanner">
		<?php endif;?>
		  <li class="item<?php if(($stocklastBannerCnt-1)%$_columnCountstocklastBanner==0): ?> first<?php elseif($stocklastBannerCnt%$_columnCountstocklastBanner==0): ?> last<?php endif; ?>">
		  <div class="box-top-shadow">
		    <div class="top-sh-left"> </div>
		    <div class="top-sh-midd"></div>
		    <div class="top-sh-right"></div>
		  </div>
		  <div class="box-left-shadow">
		    <div class="left-sh-top"> </div>
		    <div class="left-sh-mid"></div>
		    <div class="left-sh-btom"></div>
		  </div>
		  <div class="box-right-shadow">
		    <div class="right-sh-top"> </div>
		    <div class="right-sh-mid"></div>
		    <div class="right-sh-btom"></div>
		  </div>
		  <div class="iteam-bottom">
		    <div class="left-bot-sh"></div>
		    <div class="mid-bot-sh"></div>
		    <div class="right-bot-sh"></div>
		  </div>
		    <div class="pro-mid-con">
		      <?php if($StocklastBanner['url']!=''){?>
		      <a href="<?php echo $StocklastBanner['url']?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$StocklastBanner->getFilename()?>" alt="" title="" /></a>
		      <?php } else {?>
		      <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$StocklastBanner->getFilename()?>" alt="" title="" />
		      <?php }?>
		    </div>
		  </li>
		<?php if ($stocklastBannerCnt%$_columnCountstocklastBanner==0 || $stocklastBannerCnt==$_columnCountstocklastBanner): ?>
		</ul>
		<?php endif ?>
		
		<?php }}} ?>
	    </div>
	<?php /********************Stock last Banner End *****************************/?>
      <?php /********************Stock last End *****************************/?>
      
      <?php /****************** code for Clearence banner ******************/?>
      <div class="prod-cate-cont">
      	<div class="cler-sale">
          <?php
	  $_categoryclear = Mage::getModel('catalog/category')->load(100);
	  ?>
	  <div class="prod-title">
      	<div class="to-day-tag"></div>
        <?php /*?><h2><?php echo $this->__('Hurry up! while stock lasts...')?></h2><?php */?>
        <h2>Hurry up! These offers are crazy...</h2>
      </div>
      
	  <div class="clearencebanner-container">
	      <?php
		//$_categoryclear = Mage::getModel('catalog/category')->load(100);
	       $ClearenceBannerCol = Mage::getModel('homecategorybanner/homecategorybanner')->getCollection();
		$ClStoreId=Mage::app()->getStore()->getStoreId();?>
		<?php  $_columnCountClearenceBanner = 3; $clearenceBannerCnt=0;
		foreach($ClearenceBannerCol as $ClearenceBanner){
		  if($ClearenceBanner->getStoreId() == $ClStoreId){
		  if($ClearenceBanner['category_id']==100 && $ClearenceBanner['status']== 1){?>
	    <?php if ($clearenceBannerCnt++%$_columnCountClearenceBanner==0): ?>
	      <ul class="products-grid product-stock clearbanner">
		<?php endif;?>
		  <li class="item<?php if(($clearenceBannerCnt-1)%$_columnCountClearenceBanner==0): ?> first<?php elseif($clearenceBannerCnt%$_columnCountClearenceBanner==0): ?> last<?php endif; ?>">
		  <div class="box-top-shadow">
		    <div class="top-sh-left"> </div>
		    <div class="top-sh-midd"></div>
		    <div class="top-sh-right"></div>
		  </div>
		  <div class="box-left-shadow">
		    <div class="left-sh-top"> </div>
		    <div class="left-sh-mid"></div>
		    <div class="left-sh-btom"></div>
		  </div>
		  <div class="box-right-shadow">
		    <div class="right-sh-top"> </div>
		    <div class="right-sh-mid"></div>
		    <div class="right-sh-btom"></div>
		  </div>
		  <div class="iteam-bottom">
		    <div class="left-bot-sh"></div>
		    <div class="mid-bot-sh"></div>
		    <div class="right-bot-sh"></div>
		  </div>
		    <div class="pro-mid-con">
		      <?php if($ClearenceBanner['url']!=''){?>
		      <a href="<?php echo $ClearenceBanner['url']?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$ClearenceBanner->getFilename()?>" alt="" title="" /></a>
		      <?php } else {?>
		      <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$ClearenceBanner->getFilename()?>" alt="" title="" />
		      <?php }?>
		    </div>
		  </li>
		<?php if ($clearenceBannerCnt%$_columnCountClearenceBanner==0 || $clearenceBannerCnt==$_columnCountClearenceBanner): ?>
		</ul>
		<?php endif ?>
		
		<?php }}} ?>
	    </div>
      
	  <script type="text/javascript">
	    function mainImgChangeClear(confId,simpleUrl)
	    {
	      jQuery('.mainClear'+confId).attr({'src':simpleUrl});
	    }
	  </script>
	  
	  <?php 
	  $_clearenceProductCollection = Mage::getResourceModel('catalog/product_collection')
	  ->addAttributeToSelect('*')
	  ->addCategoryFilter($_categoryclear)
	  ->addAttributeToSort('created_at','DESC')
	  ->addAttributeToFilter('status', 1)//enabled
	  ->addAttributeToFilter('visibility', 4)
	  ->addAttributeToSelect('is_active');
	  $_clearenceProductCollection->load();
	  $_columnCountClearence = 3;
	  $clearenceCnt=0;
	  foreach($_clearenceProductCollection as $_clearenceproduct){
	  $_clearenceproduct = Mage::getModel('catalog/product')->load($_clearenceproduct->getId());
	  
	  $ProductcaptionClearence=$_clearenceproduct->getProductcaption();
	  ?>
	  <script type="text/javascript">
	    jQuery(document).ready(function(){
	    //jQuery('.mark'+<?php echo $_todayproduct->getId(); ?>).hover(function() {jQuery('.icontent'+<?php echo $_todayproduct->getId(); ?>).show(1000)}, function() {jQuery('.icontent'+<?php echo $_todayproduct->getId(); ?>).hide(1000)});
	    jQuery('.markc'+<?php echo $_clearenceproduct->getId(); ?>).hover(
              function() {
                jQuery('.icontentc'+<?php echo $_clearenceproduct->getId(); ?>).show()
              },
              function() {
                jQuery('.icontentc'+<?php echo $_clearenceproduct->getId(); ?>).hide()
                }
              );
	    });
	    </script>
	  <?php if ($clearenceCnt++%$_columnCountClearence==0): ?>
        <ul class="products-grid product-stock">
	  <?php endif;?>
	  <?php
	  $_specialpriceIncludingTaxClear = Mage::helper('tax')->getPrice($_clearenceproduct, $_clearenceproduct->getFinalPrice());
	  $specialPriceClear=number_format($_specialpriceIncludingTaxClear, 0);
	  
	  $_priceIncludingTaxClear = Mage::helper('tax')->getPrice($_clearenceproduct, $_clearenceproduct->getPrice());
	  $mainPriceClear=number_format($_priceIncludingTaxClear, 0);
	  
	  $clearenceSavePriceFormatClear=$_priceIncludingTaxClear-$_specialpriceIncludingTaxClear;
	  $clearenceSavePrice=number_format($clearenceSavePriceFormatClear, 0);
	  
	  $discountPriceClear=($_priceIncludingTaxClear - $_specialpriceIncludingTaxClear)/$_priceIncludingTaxClear*100;
	  //echo "Discount :".$discountPrice;
          
          $chkSpecialPrice = $_clearenceproduct->getSpecialPrice();
          //echo "SP :".$chkSpecialPrice;
	    ?>

          <li class="item <?php if(($clearenceCnt-1)%$_columnCountClearence==0): ?> first<?php elseif($clearenceCnt%$_columnCountClearence==0): ?> last<?php endif; ?> markc<?php echo $_clearenceproduct->getId(); ?>"><!-- enterprise/cdiscount-en/template/custompage/home.phtml [clearance]-->
            <div class="box-top-shadow">
              <div class="top-sh-left"> </div>
              <div class="top-sh-midd"></div>
              <div class="top-sh-right"></div>
            </div>
            <div class="box-left-shadow">
              <div class="left-sh-top"> </div>
              <div class="left-sh-mid"></div>
              <div class="left-sh-btom"></div>
            </div>
            <div class="box-right-shadow">
              <div class="right-sh-top"> </div>
              <div class="right-sh-mid"></div>
              <div class="right-sh-btom"></div>
            </div>
            <div class="iteam-bottom">
              <div class="left-bot-sh"></div>
              <div class="mid-bot-sh"></div>
              <div class="right-bot-sh"></div>
            </div>
             <div class="pro-mid-con">
             	<div class="save-cate">
	    <?php		$mycate = false;
					foreach($_clearenceproduct->getCategoryCollection()->getData('category_id') as $arr)
					{
						//if($arr['entity_id']=="52" && count($arr['entity_id'])>0)
						if($arr['entity_id']=="157" && count($arr['entity_id'])>0)
						{
							$mycate = true;	
						}
					}
					
					if($_clearenceproduct->getMarkupPrice()>0 && $_clearenceproduct->getMarkupPrice()!="")
					{	
						$markupPrice = $_clearenceproduct->getMarkupPrice();
						$percent = ceil((($markupPrice-$_clearenceproduct->getFinalPrice())*100)/$markupPrice);
						$mainPriceShow = $_clearenceproduct->getFinalPrice();
					}else{	
						$markupPrice = $_clearenceproduct->getFinalPrice()+($_clearenceproduct->getFinalPrice()*0.05);
						$percent = '5';
						$mainPriceShow = $_clearenceproduct->getFinalPrice();
					}	
					$SavePriceShow = $markupPrice-$mainPriceShow; ?>
<?php		if(!$mycate)
			{	?>                    
				  	<?php //echo Mage::helper('amlabel')->getLabels($_clearenceproduct) ?>
                    <table style="height:41px; width:75px; " class="amlabel-table top-right" onclick="window.location='<?php echo $_clearenceproduct->getProductUrl() ?>'"><tbody><tr><td><span style="background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>amlabel/bg-discount.png)" class="custom-image-label"><span class="amlabel-txt" style="width:100px; padding:8px 0 5px 5px;"><span class="save-tag1"><?php echo $percent; ?></span></span></span></td></tr></tbody></table>
<?php		}	?>                    
                  </div>
            <a href="<?php echo $_clearenceproduct->getProductUrl()?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_clearenceproduct, 'small_image')->resize(275,225); ?>" alt="" class="mainClear<?php echo $_clearenceproduct->getId(); ?>"/></a>
            <div class="prod-name-head">
              <h2 class="product-name">
		<a href="<?php echo $_clearenceproduct->getProductUrl()?>">
		<?php //echo $_clearenceproduct->getName()?>
		<?php
		
		
		echo Mage::helper('core/string')->truncate($_clearenceproduct->getName(), 40);
			/* $nameLimit = 35;
		    $nameCount = strlen($_clearenceproduct->getName());
			$nameWord = str_word_count($_clearenceproduct->getName(),2);
			foreach($nameWord as $attr => $value)
			{
				if($attr<$nameLimit)
				{
					echo $value.' ';
				}
			} */
		?>
		</a>
	      </h2>
              <div class="prod-caption"><?php echo $ProductcaptionClearence; ?></div>
            </div>
		  
              <?php /*?><?php if($chkSpecialPrice > 0) { ?>
	      <div class="price-box">
		<p class="old-price">
		  <?php if($chkSpecialPrice > 0) { ?>
		  <span class="price-label"><?php echo $this->__('was')?></span>
		  <span class="price"><?php echo $mainPriceClear; ?></span>
		  <?php } else { ?>
		  &nbsp;
		  <?php } ?>
		</p>
		<p class="special-price"> <span class="price"><?php echo $specialPriceClear; ?><span class="price-sy"><?php echo $this->__('B')?></span> </span> </p>
	      </div>
	    <?php if($clearenceSavePrice > 0) { ?><div class="save-bg"><span class="save-text"><?php echo $this->__('save: ')?></span><span class="save-price"><?php echo $clearenceSavePrice; ?></span></div><?php } ?>
      
	    <?php } else { ?>
		  <div class="price-box">
		    <p class="old-price">&nbsp;
		      
		    </p>
		    <p class="special-price">
		      <span class="price">
                        <?php echo $mainPriceClear; ?><span class="price-sy"><?php echo $this->__('B')?></span>
		      </span>
		    </p>
		  </div>
		<?php } ?><?php */?>  
<?php			if($mycate)
				{		?>
                    	<div class="price-box">
                        	<p class="old-price"><span class="price-label">&nbsp;</span></p>
                        	<p class="special-price"> 
                            	<span class="price">
									<?php echo number_format($mainPriceShow,0); ?>
                                	<span class="price-sy"><?php echo $this->__('B')?></span>
                                </span>
                            </p>
                        </div>
<?php			}else{	?>           
          			<div class="price-box">
                        <p class="old-price"> <span class="price-label"><?php echo $this->__('was')?></span> <span class="price"><?php echo number_format($markupPrice,0); ?></span> </p>
                        <p class="special-price"> <span class="price"><?php echo number_format($mainPriceShow,0); ?><span class="price-sy"><?php echo $this->__('B')?></span> </span> </p>
                    </div>
                    <div class="save-bg"><span class="save-text"><?php echo $this->__('save: ')?></span><span class="save-price"><?php echo number_format($SavePriceShow,0); ?></span></div>
<?php			}		?> 
            </div>
	     
          </li>
	  <?php if ($clearenceCnt%$_columnCountClearence==0 || $clearenceCnt==$_columnCountClearence): ?>
	  </ul>
	  <?php endif ?>
	  <?php }?>
	</div>
	  
      </div>
 <?php /****************** End code for Clearence banner ******************/?>
    </div>
<?php /****code for popup**********/ ?>
<script>
    jQuery( document ).ready(function() {
        jQuery('.btn-cart-addto').click( function() {
	  jQuery(".overlays").show();
	  jQuery(".loaderimg").show();
            var takeid=jQuery(this).attr("id");//alert(takeid);
            var form_key = '<?php echo Mage::getSingleton('core/session')->getFormKey() ?>';
            var BaseUrl = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>simpassajaxcart/index/AjaxCart/";
            jQuery.ajax({
                    url: BaseUrl,
                    /* dataType: 'json', */
                    type:        'post',
                    data:({'pro_id':takeid,'pro_type':'config','form_key':form_key,'isAjax':true}),
                    success: function(msg){
                    //alert(msg);
                    jQuery(".dicas").html(msg);
		    jQuery(".loaderimg").hide();
                    loadPopupBox();
                    jQuery(".overlays").show();
                    }
                });
        });
    });
   
    jQuery('#popupBoxClose').click( function() {
            unloadPopupBox();
        });
       
        jQuery('#container').click( function() {
            loadPopupBox();
	    jQuery(".overlays").show();
	    
        });

        function unloadPopupBox() {    // TO Unload the Popupbox
            jQuery('#popup_box').fadeOut("slow");
            jQuery("#container").css({ // this is just for style       
                "opacity": "1" 
            });
	    jQuery(".overlays").hide();
        }   
        function loadPopupBox() {    // To Load the Popupbox
            jQuery('#popup_box').fadeIn("slow");
            jQuery("#container").css({ // this is just for style
                "opacity": "0.3" 
            });        
        }
</script>

<div id="popup_box" class="cartpopup">    <!-- PopupBox DIV-->
  <div class="dicas">Dicas do chef Dicas do chef Dicas do chef Dicas do chef Dicas do chefDicas do chefDicas do chef Dicas do chefDicasDicas do chef Dicas do chef Dicas do chef Dicas do </div></span>
  <a id="popupBoxClose" class="closebutton" onclick="unloadPopupBox();">Close</a>   
</div>
<div class="overlays" style="display:none;"><div class="loaderimg"><img src="<?php echo $this->getSkinUrl(); ?>images/ajax-loader.gif" /></div></div>
