<div class="trac-order-contener">
    <div class="page-title">
        <h1><?php echo $this->__('TRACK AN ORDER') ?></h1>
	 <p><?php echo $this->__('To see the status of an existing order, enter your order number and email address.') ?></p>
    </div>
    <div class="trac-order-div">
        <form action="<?php echo $this->getUrl('order-status'); ?>" name="ordstatus" id="" method="post" onsubmit="return chkOrd();">
                <div class="trac-or-content">                
		    <div class="order-track-con">
			<div class="left-top-r"></div>
			<div class="right-top-r"></div>
			<div class="left-bott-r"></div>
			<div class="right-bott-r"></div>
			<div class="track-order-form">
                    <ul class="form-list">
                        <li class="email-order">
                            <label for="pass" class="ord-no"><?php echo $this->__('YOUR ORDER NUMBER') ?></label>
                            <div class="input-box">
                                <input name="order_id" alt="order_id" type="text" id="order_id" class="input-text" value="Example: 12345678" onblur="if(this.value == '') { this.value='Example: 12345678'}" onfocus="if (this.value == 'Example: 12345678') {this.value=''}" />
				<span id="error_order_id"></span>
                            </div>
                        </li>
                        <li class="email-add">
                            <label for="email" class="email-or"><?php echo $this->__('Email Address:') ?></label>
                            <div class="input-box">
                                <input name="visitoremail" alt="visitoremail" type="text" id="email" class="validate-email  input-text" value=""  />
				<span id="error_email"></span>
                            </div>
                        </li>
			<li class="send-btn">
			 <button type="submit" class="button" title="<?php echo $this->__('Track Order') ?>" name="send" id="send2"><span><span><?php echo $this->__('Track') ?></span></span></button>
			</li>
                    </ul>
			</div>
		    </div>		    
                </div>
	</form>
	<div class="order-content-label">For any order related enquiries, please contact our customer service support via 02-264-6246 or <a href="<?php echo $this->getUrl();?>contacts"> www.cdiscount.com/contacts/ </a></div>
    </div>
   <script type="text/javascript">
   function chkOrd()
   {
      
      if(document.getElementById("email").value == "")
      {
	 document.getElementById("error_email").innerHTML="Please enter email address.";
	 document.getElementById("email").focus();
	 return false;
      }else{
	document.getElementById("error_email").innerHTML="";
      }
      
	if(document.getElementById("email").value != "")
	{
	    var x=document.getElementById("email").value;
	    var atpos=x.indexOf("@");
	    var dotpos=x.lastIndexOf(".");
	    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
	    {
	    //alert("Not a valid e-mail address");
	    document.getElementById("error_email").innerHTML="Not a valid e-mail address.";
	    return false;
	    }else{
		document.getElementById("error_email").innerHTML="";
	    }
	}
      
      if(document.getElementById("order_id").value == "")
      {
	 document.getElementById("error_order_id").innerHTML="Please enter order id.";
	 document.getElementById("order_id").focus();
	 return false;
      }else{
	document.getElementById("error_order_id").innerHTML="";
      }
      
      if(document.getElementById("order_id").value != "")
      {
	var z=document.getElementById("order_id").value;
	if(!z.match(/^\d+/))
	{
	document.getElementById("error_order_id").innerHTML="Numbers only, please!";
	document.getElementById("order_id").focus();
	return false;
	}else{
	    document.getElementById("error_order_id").innerHTML="";
	}
	
      }
      
      
      
      return true;
   }
</script>
</div>