<?php $pdfHelper = $this->getPdfHelper() ?>
<?php $commentHistory = $pdfHelper->OutputCommentHistory() ?>
<?php $giftMessage = $pdfHelper->OutputGiftMessage() ?>
<?php $orderComments = $pdfHelper->OutputCustomerOrderComment() ?>
<?php $customText = $pdfHelper->getPdfCustom() ?>
<?php $taxSummary = $this->OutputTaxSummary() ?>
<?php $totals = $this->getTotals() ?>
<?php $displayBoth = $pdfHelper->getDisplayBoth() ?>
<?php $vertSpacing =
    '<tcpdf method="addHTMLVertSpace" params="'.$this->getPdf()->serializeTCPDFtagParameters(array(0, 1)).'"/>'
?>
<?php $labelW = "66.2%"; $amountW = "33.8%"; ?>
<?php // for product & sku $labelW = "76%"; $amountW = "24%"; ?>

<!--
you can add the below styles to any element to force a page break
style="page-break-before:always;"
style="page-break-after:always;"
-->
<?php if($totals): ?>
    <?php if($displayBoth && false) :?>
        <table nobr="true" width="100%" border="0" cellpadding="2" cellspacing="0">
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <?php $nrTotals = sizeof($totals['totals']) ?>
            <?php $counterTotals = 1 ?>
            <?php foreach ($totals['totals'] as $total):?>
            <?php $isLast =  $counterTotals >= $nrTotals ?>
            <tr>
                <td width="36%">&nbsp;</td>
                <td <?php echo $isLast?'style="border-bottom:1px solid black;"':'' ?>
                        align="right"
                        width="32%"><?php echo $total['label'].($isLast?$vertSpacing:'') ?></td>
                <td <?php echo $isLast?'style="border-bottom:1px solid black;"':'' ?>
                        align="right"
                        width="16%"><?php echo $total['amount'].($isLast?$vertSpacing:'') ?></td>
                <td <?php echo $isLast?'style="border-bottom:1px solid black;"':'' ?>
                        align="right"
                        width="16%"><?php echo $total['base_amount'].($isLast?$vertSpacing:'') ?></td>
            </tr>
            <?php $counterTotals++ ?>
            <?php endforeach; ?>
            <?php $counterTotals = 1 //reset?>
            <?php foreach ($totals['grand_totals'] as $total):?>
            <?php $bs = $total['bold']?'<b>':''; ?>
            <?php $be = $total['bold']?'</b>':''; ?>
            <?php $isFirst =  $counterTotals == 1 ?>
            <tr>
                <td width="36%">&nbsp;</td>
                <td align="right" width="32%"><?php echo ($isFirst?$vertSpacing:'').$bs.$total['label'].$be ?></td>
                <td align="right" width="16%"><?php echo ($isFirst?$vertSpacing:'').$bs.$total['amount'].$be ?></td>
                <td align="right" width="16%"><?php echo ($isFirst?$vertSpacing:'').$bs.$total['base_amount'].$be ?></td>
            </tr>
            <?php $counterTotals++ ?>
            <?php endforeach; ?>
        </table>
        
    <!-- Use this one -->
    <?php else: ?>
    <table table nobr="true" width="100%" cellpadding="0" cellspacing="0" style="border:1px solid black;font-size:13pt !important">
    	<tr>
            <td width="1%">
           	</td>
            <td width="85.8%">
            <?php echo $vertSpacing.Mage::helper('pdfcustomiser')->__('มูลค่าสินค้ารวมภาษีมูลค่าเพิ่ม Sub Total (Vat Included)') ?>
           	</td>
           	<td width="13.2%" style="border-left:1px solid black;" align="right" ><span>
           	<?php
           	$search = 'subtotal';
            $results = array_filter($totals['totals'], function ($element) use ($search) { return ($element['code'] == $search); } ); 
            $total = reset($results);
            echo $vertSpacing.str_replace('฿','',$total['amount_default'])
            ?></span>&nbsp;&nbsp; 
        	</td>
		</tr>
    </table>
        <table nobr="true" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:13pt !important"> 
            <tr>
            	<td width="60%"><?php echo Mage::helper('pdfcustomiser')->__('# สินค้าที่ยกเว้นภาษีมูลค่าเพิ่ม/# VAT exempt goods') ?>
	            	<br/>
	            	<?php echo Mage::helper('pdfcustomiser')->__('จำนวนเงิน (ตัวอักษร)/Amount in word:') ?> <?php echo $this->getPdfHelper()->ThaiBahtConversion($this->getPdfHelper()->getSalesObject()->getGrandTotal()) ?>
            	</td>
            	<td width="40%">
            		<table>
            			<?php           			
            			$search = 'shipping_amount';
            			$results = array_filter($totals['totals'], function ($element) use ($search) { return ($element['code'] == $search); } ); 
            			$total = reset($results);
            			if($total > 0) :
            			?>
	                	<tr>
		                    <td align="left"
		                            width="<?php echo $labelW ?>"><?php echo $vertSpacing.$total['label'] ?></td>
		                    <td style="border:1px solid black;"
		                            align="right"
		                            width="<?php echo $amountW ?>"><?php echo $vertSpacing.str_replace('฿','',$total['amount_default']) ?><span>&nbsp;&nbsp;</span></td>
		                </tr>
		                <?php endif; ?>
            			<?php             			
            			$search = 'subtotal';
            			$results = array_filter($totals['totals'], function ($element) use ($search) { return ($element['code'] == $search); } ); 
            			$total = reset($results);
            			?>
            			<tr>
		                    <td align="left"
		                            width="<?php echo $labelW ?>"><?php echo $vertSpacing.$total['label'] ?></td>
		                    <td style="border:1px solid black;"
		                            align="right"
		                            width="<?php echo $amountW ?>"><?php echo $vertSpacing.str_replace('฿','',$total['amount_default']) ?><span>&nbsp;&nbsp;</span></td>
		                </tr>
		                <?php             			
            			$search = 'discount_amount';
            			$results = array_filter($totals['totals'], function ($element) use ($search) { return ($element['code'] == $search); } ); 
            			$total = reset($results);
            			?>
	                	<tr>
		                    <td align="left"
		                            width="<?php echo $labelW ?>"><?php echo $vertSpacing.Mage::helper('pdfcustomiser')->__('ส่วนลด/Discount') ?></td>
		                    <td style="border:1px solid black;"
		                            align="right"
		                            width="<?php echo $amountW ?>"><?php echo $vertSpacing.str_replace('฿','',$total['amount_default']) ?><span>&nbsp;&nbsp;</span></td>
		                </tr>
		                <?php             			
            			$search = 'customer_credit_amount';
            			$results = array_filter($totals['totals'], function ($element) use ($search) { return ($element['code'] == $search); } ); 
            			$total = reset($results);
            			if($total > 0) :
            			?>          			
	                	<tr>
		                    <td align="left"
		                            width="<?php echo $labelW ?>"><?php echo $vertSpacing.Mage::helper('pdfcustomiser')->__('ส่วนลด/Discount') ?></td>
		                    <td style="border:1px solid black;"
		                            align="right"
		                            width="<?php echo $amountW ?>"><?php echo $vertSpacing.str_replace('฿','',$total['amount_default']) ?><span>&nbsp;&nbsp;</span></td>
		                </tr>
		                <?php endif; ?>
		                <?php $counterTotals = 1 //reset ?>
			            <?php foreach ($totals['grand_totals'] as $total):?>
			                <?php $bs = $total['bold']?'<b>':''; ?>
			                <?php $be = $total['bold']?'</b>':''; ?>
			                <?php $isFirst =  $counterTotals == 1 ?>
			                <tr>
			                    <td align="left" width="<?php echo $labelW ?>"><?php echo $vertSpacing.$bs.$total['label'].$be ?></td>
			                    <td style="border:1px solid black;" align="right" width="<?php echo $amountW ?>"><?php echo $vertSpacing.$bs.str_replace('฿','',$total['amount_default']).$be ?><span>&nbsp;&nbsp;</span></td>
			                </tr>
			                <?php $counterTotals++ ?>
			            <?php endforeach; ?>
		                <?php             			
            			$search = 'tax_amount';
            			$results = array_filter($totals['totals'], function ($element) use ($search) { return ($element['code'] == $search); } ); 
            			$total = reset($results);
            			?>
            			<tr>
		                <td align="left"
		                            width="<?php echo $labelW ?>"><?php echo $vertSpacing.$total['label'] ?></td>
		                    <td style="border:1px solid black;"
		                            align="right"
		                            width="<?php echo $amountW ?>"><?php echo $vertSpacing.str_replace('฿','',$total['amount_default']) ?><span>&nbsp;&nbsp;</span></td>
		                </tr>            			
            		</table>
            	</td>
            </tr>
        </table>
    <?php endif; ?>
<?php endif; ?>

<?php if ($giftMessage && false) : ?>
    <br/>
    <strong><?php echo Mage::helper('pdfcustomiser')->__('PDF Gift Message') ?></strong><br/>
    <b><?php echo Mage::helper('pdfcustomiser')->__('PDF From:') ?></b> <?php echo $giftMessage['from'] ?><br/>
    <b><?php echo Mage::helper('pdfcustomiser')->__('PDF To:') ?></b> <?php echo $giftMessage['to'] ?><br/>
    <b><?php echo Mage::helper('pdfcustomiser')->__('PDF Message:') ?></b> <?php echo $giftMessage['message'] ?> <br/>
<?php endif; ?>  

<?php if ($orderComments && false) : ?>
    <br/>
    <?php foreach ($orderComments as $orderComment): ?>
        <strong><?php echo $orderComment['title'] ?></strong><br/>
        <?php echo $orderComment['comment'] ?>
    <?php endforeach; ?>
    <br/>
<?php endif; ?>
        
<?php if ($commentHistory && false) : ?>
    <br/>
    <strong><?php echo Mage::helper('pdfcustomiser')->__('PDF Comments') ?></strong><br/>  
    <table border="0" cellpadding="2" cellspacing="0">
    <?php foreach ($commentHistory as $history): ?>
        <tr>
            <td><?php echo $history['date'] ?><?php if ($history['label']): ?> | <?php echo $history['label'] ?><?php endif; ?></td>
            <td><?php echo $history['comment'] ?></td>
        </tr>
    <?php endforeach; ?>
    </table>
    <br/>
<?php endif; ?>

<?php if ($customText && false) : ?>
    <br/>
    <?php echo $customText ?>
    <br/>
<?php endif; ?>
