<table width="100%" border="0" cellpadding="5" cellspacing="0">
    <!-- Row 1 -->
    <tr>
        <?php if($this->getPdfHelper()->getPdfLogoPlacement() == 'auto'
            || $this->getPdfHelper()->getPdfLogoPlacement() == 'no-scaling'):
            ?>
            <td valign="top" width="50%">
            	<!-- Logo & Address -->
            	<table>
					<tr>
            			<td valign="top" height="120px"><!--space for logo--></td>
					</tr>
					<tr>
            			<td valign="top"><font style="font-size:95%;line-height:1em;"><?php echo nl2br($this->getPdfHelper()->getPdfOwnerAddresss())?></font>
            			</td>
					</tr>
            	</table>        	
            	<!-- Space below logo -->
            	<span style="line-height:3.3em;"></span>
            	<!-- Billing Address -->
            	{{var billing_address}}
            </td>
            <?php //echo $this->getPdfHelper()->getImageHeight()?'height="'.$this->getPdfHelper()->getImageHeight().'mm"':''?>
            <td valign="top" width="50%"> 
				<table cellpadding="10" style="border:1px solid black;">
	              	<tr>
	              		<td align="center" style="font-weight:bold;text-align:center;font-size:1.2em;line-height:1em;"><?php 
							//ipune: pdf
		              		if($this->getPdfHelper()->getIsPrintCopy()) {
		              			echo $this->getPdfHelper()->__('สำเนาใบเสร็จรับเงิน/ใบกำกับภาษี/ใบส่งของ<br>Copy Receipt/Tax Invoice/Delivery Order');
		              		} else {
								echo $this->getPdfHelper()->__('ต้นฉบับใบเสร็จรับเงิน/ใบกำกับภาษี/ใบส่งของ<br />Original Receipt/Tax Invoice/Delivery Order');
		              		} ?>
	              		</td>
	              	</tr>
	              </table>
	              <span style="line-height:2em;font-size:11px;"></span>
	              <table cellpadding="0" cellspacing="0" width="110%">
	                	<tr>
	                		<td valign="top" width="35%"><?php echo $this->getPdfHelper()->getNumberText() ?>:</td>
	                		<td valign="top" width="65%">{{var sales_object.increment_id}}</td>
	                	</tr>	
	                	<tr>
	                		<td valign="top" width="35%"><?php echo $this->getPdfHelper()->__('Date') ?>:</td>
	                		<td valign="top" width="65%"><?php echo $this->getPdfHelper()->getDate() ?></td>
	                	</tr>
	                	<tr>
	                		<td valign="top" width="35%"><?php echo $this->getPdfHelper()->__('เลขที่คำสั่งซื้อ/Order No.') ?>:</td>
	                		<td valign="top" width="65%">{{var order.increment_id}}</td>
	                	</tr>	
	                	<tr>
	                		<td valign="top" width="35%"><?php echo $this->getPdfHelper()->__('Payment Method') ?>:</td>
	                		<td valign="top" width="65%">{{var payment}}</td>
	                	</tr>
                	</table>
                	<table>		
						<tr>
							<td style="border:1px solid #999;" align="center" width="100%">
			        			<span style="font-size:120%;line-height:1.2em;font-weight:bold;"><?php 
			        				echo sprintf($this->getPdfHelper()->__("Amount *** %s ***"), $this->getPdfHelper()->formatcurrency($this->getPdfHelper()->getSalesObject()->getGrandTotal()))
			        			?>
				        		</span>
	                		</td>
	                	</tr>
	                	<tr>
	                		<td style="line-height:2.7em;">&nbsp;</td>
	                	</tr>
                	</table>
                	{{var shipping_address}}
            </td>
        <?php endif; ?>
    </tr>
    <!-- /Row 1 -->
</table>