<?php

    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $imageWidth = (int)Mage::getStoreConfig('amconf/size/preview_width');
    $imageHeight = (int)Mage::getStoreConfig('amconf/size/preview_height');
    $smallImageSize = (int)Mage::getStoreConfig('amconf/size/thumb');
    $itemCount = (int)Mage::getStoreConfig('amconf/carousel/visible_items');
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<div class="product-image">
    <?php
        $_img = '<img id="amasty_zoom" width="'. $imageWidth .'" height="'. $imageHeight .'"
         data-zoom-image="'.$this->helper('catalog/image')->init($_product, 'image').'" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($imageWidth, $imageHeight).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</div>

<?php else: ?>
<div class="product-image">
    <?php
        $_img = '<img id="amasty_zoom" data-zoom-image="'.$this->helper('catalog/image')->init($_product, 'image').'" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($imageWidth, $imageHeight).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</div>

<?php endif; ?>


<?php if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
    <h2><?php echo $this->__('More Views') ?></h2>
    <div class="more-inner">
        <div style="position: relative;">
            <div id="amasty_gallery">
                 <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <a class="fancybox" href="<?php echo Mage::getStoreConfig('amconf/lightbox/thumbnail_lignhtbox')?$this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()):"#"; ?>" data-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($imageWidth, $imageHeight); ?>" data-zoom-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()); ?>"  >
                        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($smallImageSize); ?>" width="<?php echo $smallImageSize;?>" height="<?php echo $smallImageSize;?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"  title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
                    </a>
                 <?php endforeach; ?>
                 
            </div> 
            <?php if (count($this->getGalleryImages()) > $itemCount && Mage::getStoreConfig('amconf/carousel/enable')): ?>
                <div id="prevGallery" style="top:<?php echo $smallImageSize/2 - 17;?>px" class="MagicScrollArrows MagicScrollArrowPrev"></div>
                <div id="nextGallery" style="top:<?php echo $smallImageSize/2 - 17;?>px" class="MagicScrollArrows MagicScrollArrowNext"></div>
                 <?php if (Mage::getStoreConfig('amconf/carousel/pagination')): ?>
                    <div id="ampagination" style="margin-top: 10px;"></div>
                 <?php endif; ?>
            <?php endif; ?>
         </div>
    </div>
    <?php if($_product->getVideocode() !="") { ?>
    <div class="video-cls">
        <a id="lightboxLink" href="javascript:void(0);" onclick="change_image('<?php echo $_product->getVideocode(); ?>');">Video</a>
    </div>
    <?php } ?>
</div>
<?php endif; ?>
<script type="text/javascript" >
    AmZoomerObj = new AmZoomer(<?php echo Mage::helper('amconf/zoom')->jsParam()?>);
    AmZoomerObj.loadCarousel();
</script>

<!-- Start for video code -->
<div id="containerDiv" style="display:none;">
    <p>
        <iframe id="stop_video" width="818" height="480" src="<?php echo $_product->getVideocode(); ?>?wmode=opaque&amp;wmode=Opaque"  frameborder="0" allowfullscreen></iframe>
        <a id="closeLink" href="javascript:void(0);">Click here</a>
    </p>
</div>
<script type="text/javascript" src="<?php echo $this->getJsUrl(); ?>scriptaculous.js?load=effects,dragdrop"></script>
<script type="text/javascript" src="<?php echo $this->getJsUrl(); ?>lightbox.js"></script>
<script type="text/javascript">
    var test;
    Event.observe(window, 'load', function () {
        test = new Lightbox('containerDiv');
    });
    
    Event.observe('lightboxLink', 'click', function () {
            test.open();
    });

    Event.observe('closeLink', 'click', function () {
            test.close();
    });
    
    function change_image(url)
    {  
        jQuery("#stop_video").attr("src",url+"?wmode=opaque&amp;wmode=Opaque");
    }
</script>
<!-- End for video code -->