<!-- BEGIN `Amasty: Order Attributes` -->
<?php
    $deliveryDate = array();
    if (Mage::helper('core')->isModuleEnabled('Amasty_Deliverydate')) {
        $deliveryDate = Mage::helper('amdeliverydate')->whatShow($this->_getPlace());
    }
    if (!empty($deliveryDate)):
?>
<div class="box-left">
<?php endif; ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-attributes"><?php echo $this->__('Want a VAT Invoice'); ?></h4>
            <?php if ($editUrl = $this->getEditUrl()): ?>
                <div class="tools">&nbsp;&nbsp;<a href="<?php echo $editUrl; ?>">Edit</a></div>
            <?php endif; ?>
        </div>
        <fieldset><!--<div class="fieldset">-->
            <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <?php if ($this->getList()):
                                $attributes = $this->getList(); // D 07_01_14
                                
                              foreach ($this->getList() as $label => $value):
                                    if($label != 'Headquarter / Branch')// D 07_01_14
                                    {
                              ?>
                        <tr>
                            <td class="label"><label><?php echo $label; ?></label></td>
                            <td><!-- OR <td class="value"> -->
                                <fieldset>
                                    <strong>
                                        <?php
                                            if ($value) {
                                                // D 07_01_14
                                                if($value == 'Branch no')
                                                echo nl2br(htmlentities(preg_replace('/\$/','\\\$', $attributes['Headquarter / Branch']), ENT_COMPAT, "UTF-8"));
                                                else
                                                echo nl2br(htmlentities(preg_replace('/\$/','\\\$', $value), ENT_COMPAT, "UTF-8"));
                                                // D 07_01_14
                                            } else {
                                                echo $this->__('--no value--');
                                            }
                                        ?>
                                    </strong>
                                </fieldset>
                            </td>
                        </tr>
                        <?php
                                    }
                        endforeach; ?>
                        <?php else: ?>
                            <tr><td class="label"><label>&nbsp;</label></td><td class="value"><?php echo $this->__('No attributes for this order'); ?></td></tr>
                        <?php endif; ?>
                    </table>
                
            </div>
        </fieldset><!--</div>-->
    </div>
    <div class="clear"></div>
<?php
    if (!empty($deliveryDate)):
?>
</div>
<?php endif; ?>
<!-- END `Amasty: Order Attributes` -->