<?php

?><div class="product-view" id="need-to-modyfiy">
<?php echo  $this->getChildHtml('advancedreviews_stdreviews'); ?>
</div>
<style type="text/css">
    .modifyed-product-view {
        border-top: none !important;
    }
    .modifyed-main-col {
        padding-top: 0px !important;
    }
</style>
<script type="text/javascript">
    try{
        $('need-to-modyfiy').addClassName('modifyed-product-view');
        $('need-to-modyfiy').parentNode.addClassName('modifyed-main-col');
    } catch(e){
        console.log(e.message);
    }
</script>