<?php

?><div style="display:block;">
    <table style="width:100%;">
        <tr>
            <td style="width:50%;">
                <?php
                    if ($this->canShowSocial())
                    {
                        echo $this->getChild('advancedreviews_socialshare')->setReviewId($this->getReviewId())->toHtml();
                    }

                ?>
            </td>
            <td  style="width:50%;" class="a-right">
                <?php
                    if ($this->canShowHelpfulness())
                    {
                        echo $this->getChild('advancedreviews_helpfulness')->setReviewId($this->getReviewId())->toHtml();
                    }
                ?>
            </td>
        </tr>
        <?php if ($this->canShowAbuse()): ?>
            <tr>
                <td style="width:50%;">
                    &nbsp;
                </td>
                <td style="width:50%;" class="a-right">
                    <?php echo $this->getChild('advancedreviews_reportabuse')->setReviewId($this->getReviewId())->toHtml(); ?>
                </td>
            </tr>
        <?php endif ?>
    </table>
</div>