<?php

?><div style="display:block; float:right; margin-bottom: 4px;">
    <?php echo $this->__('Inappropriate review?') ?>&nbsp;<a class="abuse-link" link="<?php echo $this->getAbuseUrl() ?>" onclick="reportAbuse(this)"><?php echo $this->__('Report it') ?></a>
</div>