<?php if(Mage::helper('advancedreviews')->getSummaryBlockEnabled() && is_array($this->getSummaryBlock())):?>
<?php if(count($this->getSummaryBlock())):?>
    <div class="advancedreviews-summary-block">
        <?php foreach($this->getSummaryBlock() as $parametr):?>
        <?php if($parametr['votes_qty']>0):?>
            <table style="width:<?php echo round(100/count($this->getSummaryBlock()))?>%">
                <tr><th colspan="3"><?php echo $parametr['name']?></th></tr>
                <?php foreach($parametr['votes'] as $mark=>$qty):?>
                <tr>
                    <td class="star-name"><?php echo $mark;?> star :</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:<?php echo $qty['percent'];?>%"><?php echo $qty['percent'];?>%</div></div></td>
                    <td class="star-count">( <?php echo $qty['qty'];?> )</td>
                </tr>
                <?php endforeach;?>
            </table>
            <?php endif;?>
        <?php endforeach;?>
        <div class="spacer"></div>
        <?php if($parametr['votes_qty']>0):?>
        <div class="advancedreviews-reviews-count">Total : <?php echo $parametr['votes_qty']?> Reviews</div>
        <?php endif;?>
    </div>
    <?php endif;?>
<?php endif;?>