@charset "UTF-8";
/* CSS Document */
.cus-wrap {
	background:none;
}
.head-top {
    height: 45px;
    margin: 0 auto;
    padding: 5px 0 0;
    width: 980px;
	background:url(../images/head-top-blue.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.header-container {
	background:url(../images/head-top-white.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
body.cms-index-index .wrapper {
    background: url(../images/freedelivery-background.jpg) top center repeat-y;
}
.wrapper { 
	background: url(../images/freedelivery-background.jpg) top center repeat-y; 
}
.top-banner-contener {
	background-image:none;
}
body.checkout-onepage-index .cus-wrap, body.checkout-onepage-success .cus-wrap {
	background-image:none;
}
.cus-wrap {
	background-image:none;
}
