/* SEO */
.seo-leftcolumn{display:block;}
.seo-leftcolumn p{display:block; padding:10px;}
.seo-leftcolumn h1{
background: url("../images/block-title.png") no-repeat scroll 0 0 transparent;
border-bottom: 4px solid #116CD7;
color: #333333;
font: 18px/37px Tahoma,Geneva,sans-serif;
height: 33px;
margin: 0 0 10px;
padding: 0 0 3px 14px;
position: relative;
}
.seo-leftcolumn p {color:#0066CC; font-weight:bold;}

.footer .seo_footer{margin-bottom:20px; float:left;}
.footer .seo_footer  h1, .footer .seo_footer h2{padding:0; font:400 12px/1.3 'Maven Pro',sans-serif;}
.footer .seo_footer h2 {font-size: 9px; color:#000; font-weight:normal;}
.footer .seo_footer caption, th, td{padding: 0 30px 10px 0;}
.footer .seo_footer p{padding: 0 0 5px 0; width:475px; font-size:9px;}
/*.footer .seo_footer table{margin-bottom:20px;}*/
.footer .seo_footer .seo_footer_left{float:left; margin-right:20px;}
.footer .seo_footer .seo_footer_left h1{font-size:9px;}
.footer .seo_footer .seo_footer_right{float:left;}